title Startbox | #{PageTitle}

meta(http-equiv='X-UA-Compatible', content='IE=edge')

meta(name='description', content='Startbox')
meta(name='author', content='RunWebRun')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

// Favicon
link(rel='icon', type='image/png', href='../assets/img/root/favicon.png')

// Fonts
link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap')

// Style
<!-- build:css -->
link(rel='stylesheet', href='../assets/vendors/css/magnific-popup.css')
link(rel='stylesheet', href='../assets/vendors/css/swiper-bundle.css')
link(rel='stylesheet', href='../assets/css/main.css')
<!-- endbuild -->

// jQuery
script(src='../assets/vendors/js/jquery.min.js')