// Vendors
<!-- build:js -->
script(src='../assets/vendors/js/bootstrap.js')
script(src='../assets/vendors/js/imagesloaded.pkgd.js')
script(src='../assets/vendors/js/isotope.pkgd.js')
script(src='../assets/vendors/js/jarallax.js')
script(src='../assets/vendors/js/jarallax-element.js')
script(src='../assets/vendors/js/jquery.countdown.js')
script(src='../assets/vendors/js/jquery.magnific-popup.js')
script(src='../assets/vendors/js/ofi.js')
script(src='../assets/vendors/js/jquery.inview.js')
script(src='../assets/vendors/js/swiper-bundle.js')
script(src='../assets/vendors/js/gist-embed.min.js')
script(src='../assets/js/helpers.js')
script(src='../assets/js/controllers/show-on-scroll.js')
script(src='../assets/js/controllers/countdown.js')
script(src='../assets/js/controllers/isotope.js')
script(src='../assets/js/controllers/navbar.js')
script(src='../assets/js/controllers/stretch-column.js')
script(src='../assets/js/controllers/swiper.js')
script(src='../assets/js/controllers/others.js')
<!-- endbuild -->
