.docs-card.tab-content.bg-white.rounded-4#component-feedback

	h2.docs-card-title Feedback

	.docs-card-example

		+feedback({
			avatar: "../assets/img/docs/placeholder.jpg"
		})

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="feedback.html")