.docs-card.tab-content.bg-white.rounded-4#component-review

	h2.docs-card-title Review

	.docs-card-example

		+review

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="review.html")