.docs-card.tab-content.bg-white.rounded-4#component-member

	h2.docs-card-title Member

	.docs-card-example

		.row

			.col-8

				+member({
					avatar: "../assets/img/docs/placeholder.jpg"
				})

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="member.html")