.docs-card.tab-content.bg-white.rounded-4#component-industry

	h2.docs-card-title Industry

	.docs-card-example

		.row

			.col-6

				+industry({
					title: "Industry",
					image: "../assets/img/docs/placeholder.jpg"
				})

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="industry.html")