.docs-card.tab-content.bg-white.rounded-4#component-list

	h2.docs-card-title List

	p Use #[code .active] class for highlight an icon.

	.docs-card-example

		ul.list.m-0
			li.active List item 1
			li.active List item 2
			li List item 3
			li List item 4

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="list.html")
