.docs-card.tab-content.bg-white.rounded-4#component-circle-icon

	h2.docs-card-title Circle Icon

	p Additional classes: #[code .circle-icon-sm].

	.docs-card-example

		+circle_icon

		+circle_icon({
			customClass: " text-gray-light bg-accent-2 circle-icon-sm ms-20"
		})

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="circle-icon.html")
