.docs-card.tab-content.bg-white.rounded-4#component-service-line

	h2.docs-card-title Service Line

	p Additional classes: #[code .service-line-sm].

	.docs-card-example.bg-white

		+service_line({
			link: "#",
			customClass: "position-relative rounded-3 no-transform"
		})

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="service-line.html")