.docs-card.tab-content.bg-white.rounded-4#component-shape

	h2.docs-card-title Shape

	p The #[code jarallax] plugin is used.

	.docs-card-example

		.shape-parent

			.shape.position-relative

				<svg class="no-transform" width="200" height="200" viewBox="0 0 641 641" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="320.5" cy="320.5" r="320.5" fill="#ccc"></circle>
				</svg>

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="component-shape.html")
