.docs-card.tab-content.bg-white.rounded-4#component-category

	h2.docs-card-title Category

	.docs-card-example

		+category

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="category.html")