.docs-card.tab-content.bg-white.rounded-4#component-badge

	h2.docs-card-title Badge

	p A small count and labeling component.

	.docs-card-example

		span.badge.bg-accent-1.text-white Example badge
		span.badge.bg-gray-op20.text-dark.ms-15 Example badge

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="badge.html")
