.docs-card.tab-content.bg-white.rounded-4#component-process-step

	h2.docs-card-title Process Step

	.docs-card-example

		.row

			.col-8

				+process_step

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="process-step.html")