.docs-card.tab-content.bg-white.rounded-4#component-page-navigation

	h2.docs-card-title Page Navigation

	.docs-card-example.bg-white

		+page_navigation({
			linkAll: "#",
			linkPrev: "#",
			linkPrevText: "...",
			linkNext: "#",
			linkNextText: "...",
			customClass: " "
		})

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="page-navigation.html")