.docs-card.tab-content.bg-white.rounded-4#component-service-card

	h2.docs-card-title Service Card

	.docs-card-example.bg-dark

		+service_card({
			image: "../assets/img/docs/placeholder.jpg",
			link: "#",
			customClass: "position-relative bg-light rounded-4 overflow-hidden no-transform"
		})

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="service-card.html")