.docs-card.tab-content.bg-white.rounded-4#component-feature

	h2.docs-card-title Feature

	.docs-card-example

		+feature({
			icon: '<svg xmlns="http://www.w3.org/2000/svg" width="29" height="28" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.5 1 4.172 8.557L28 10.938l-6.75 6.657L22.843 27 14.5 22.557 6.157 27l1.593-9.405L1 10.938l9.329-1.38L14.5 1Z"/></svg>',
			iconClass: "text-accent-1",
			title: "Perfect Services",
			titleClass: "mb-0 ms-20",
			text: "Dry them years air there. Blessed Multiply morning, second night and bearing.",
			textClass: "font-size-15 m-0 pe-30"
		})

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="feature.html")