.docs-card.tab-content.bg-white.rounded-4#credits-plugins

	h2.docs-card-title Plugins

	ul

		li Magnific-Popup - #[a(href="https://github.com/dimsemenov/Magnific-Popup") https://github.com/dimsemenov/Magnific-Popup]
		li Bootstrap - #[a(href="https://getbootstrap.com/") https://getbootstrap.com/]
		li Imagesloaded - #[a(href="https://github.com/desandro/imagesloaded") https://github.com/desandro/imagesloaded]
		li Isotope-layout - #[a(href="https://isotope.metafizzy.co/") https://isotope.metafizzy.co/]
		li Jarallax - #[a(href="https://github.com/nk-o/jarallax") https://github.com/nk-o/jarallax]
		li jQuery - #[a(href="https://jquery.com/") https://jquery.com/]
		li jQuery-Countdown - #[a(href="http://hilios.github.io/jQuery.countdown/") http://hilios.github.io/jQuery.countdown/]
		li jQuery-inview - #[a(href="https://github.com/protonet/jquery.inview") https://github.com/protonet/jquery.inview]
		li Object-fit-images - #[a(href="https://github.com/bfred-it/object-fit-images#readme") https://github.com/bfred-it/object-fit-images#readme]
		li Swiper - #[a(href="https://swiperjs.com/") https://swiperjs.com/]