.docs-card.tab-content.bg-white.rounded-4#credits-others

	h2.docs-card-title Other

	h5 Icons

	ul

		li #[a(href="https://www.flaticon.com/") https://www.flaticon.com/]
		li #[a(href="https://feathericons.com/") https://feathericons.com/]
		li #[a(href="https://icons.getbootstrap.com/") https://icons.getbootstrap.com/]

	hr

	h5 Fonts

	ul

		li #[a(href="https://fonts.google.com/") https://fonts.google.com/]