.docs-card.tab-content.bg-white.rounded-4#credits-images

	h2.docs-card-title Images

	h5 Images

	ul

		li #[a(href="https://www.pexels.com/") https://www.pexels.com/]
		li #[a(href="https://unsplash.com/") https://unsplash.com/]
		li #[a(href="https://freebiesbug.com/") https://freebiesbug.com/]

	hr

	h5 Illustrations

	ul

		li #[a(href="https://www.freepik.com/") https://www.freepik.com/]