.docs-card.tab-content.bg-white.rounded-4#figma

	h2.docs-card-title Figma

	p.m-0 #{ThemeName} was designed in Figma. Please use the #[a(href="https://drive.google.com/file/d/1s-M1apEvz3ZfDXEzYZ-6uej9ph0NuyXC/view") link] to download an unofficial Figma file that can be useful to rough out new pages or modify existing ones.