.docs-card.tab-content.bg-white.rounded-4#footer

	h2.docs-card-title Footer

	h3 Default Dark

	a(href="../assets/img/docs/footer-dark.jpg", class="d-block shadow image-link")

		img(src="../assets/img/docs/footer-dark.jpg", alt="", loading="lazy", class="w-100")

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="footer-default-dark.html")

	h3 Default White

	a(href="../assets/img/docs/footer-white.jpg", class="d-block shadow image-link")

		img(src="../assets/img/docs/footer-white.jpg", alt="", loading="lazy", class="w-100")

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="footer-default-white.html")

	h3 Minimal Dark

	a(href="../assets/img/docs/footer-minimal-dark.jpg", class="d-block shadow image-link")

		img(src="../assets/img/docs/footer-minimal-dark.jpg", alt="", loading="lazy", class="w-100")

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="footer-minimal-dark.html")