.docs-card.tab-content.bg-white.rounded-4#getting-started

	h2.docs-card-title Getting Started

	p This is an HTML template. To get started you need only Browser to run HTML files. Better upload files to the web server and run the site there.

	p To customize the template you can edit CSS and HTML files. Also if you are a developer, there are available source files SCSS, JS and HTML (Pug/Jade). All used plugins added from npm.

	p For each page available blank CSS file for your customizations. See it here – #[code assets/css/custom.css].