.docs-card.tab-content.bg-white.rounded-4#helper-classes

	h2.docs-card-title Helper Classes

	h5 Utilities:

	ul
		li #[code .highlight] - animated underline.
		li #[code .no-transform] - disable CSS transform.
		li #[code .z-index-1] - sets the z-index property value to 1.
		li #[code .z-index-n1] - sets the z-index property value to -1.

	h5 Font:

	ul
		li #[code .font-size-13] - sets the font size to 13px.
		li #[code .font-size-14] - sets the font size to 14px.
		li #[code .font-size-15] - sets the font size to 15px.
		li #[code .font-size-18] - sets the font size to 18px.
		li #[code .fw-medium] - sets the font weight to medium (500).

	h5 Text Colors:

	ul
		li #[code .text-accent-1] - sets the text color to #[code $color-accent-1].
		li #[code .text-hover-accent-1] - sets the text hover color to #[code $color-accent-1].
		li #[code .text-accent-2] - sets the text color to #[code $color-accent-2].
		li #[code .text-hover-accent-2] - sets the text hover color to #[code $color-accent-2].
		li #[code .text-accent-3] - sets the text color to #[code $color-accent-3].
		li #[code .text-hover-accent-3] - sets the text hover color to #[code $color-accent-3].
		li #[code .text-gray-light] - sets the text color to #[code $color-gray-light].
		li #[code .text-gray] - sets the text color to #[code $color-gray].
		li #[code .text-gray-dark] - sets the text color to #[code $color-dark].
		li #[code .text-gray-darker] - sets the text color to #[code $gray-600].

	h5 Background Colors:

	ul
		li #[code .bg-linear-gradient] - sets the background linear gradient between #[code #FFF5EB] and #[code #F4F2F9].
		li #[code .bg-accent-1] - sets the background color to #[code $color-accent-1].
		li #[code .bg-accent-2] - sets the background color to #[code $color-accent-2].
		li #[code .bg-accent-3] - sets the background color to #[code $color-accent-3].
		li #[code .bg-dark-light] - sets the background color to #[code $color-dark-light].
		li #[code .bg-gray-light] - sets the background color to #[code $color-gray-light].
		li #[code .bg-gray] - sets the background color to #[code $color-gray].
		li #[code .bg-gray-op20] - sets the background color to #[code $color-gray] with 20% opacity.
		li #[code .bg-gray-dark] - sets the background color to #[code $color-dark].
		li #[code .bg-gray-darker] - sets the background color to #[code $gray-600].

	h5 Border Colors:

	ul
		li #[code .border-gray] - sets the border color to #[code $gray-500] with 30% opacity.
