.docs-card.tab-content.bg-white.rounded-4.show#introduction

	h1.docs-card-title #{ThemeName}

	p Thank you for purchasing #{ThemeName}!

	p Prepare to meet the one and only Bootstrap template perfect for both corporate and creative projects. You can build any type of pages with Bootstrap components. Creating and Editing Pages are greatly simplified by the most powerfull templating engine — Pug/Jade. Create the hand-crafted look you have been dreaming about with #{ThemeName}.

	p This guide will help you get started with #{ThemeName}! All the important stuff – compiling the source, file structure, build tools, file includes – is documented here, but should you have any questions, always feel free to reach out to #[a(href="mailto:runwebrun@gmail.com") runwebrun@gmail.com]
