.docs-card.tab-content.bg-white.rounded-4#plugin-show-on-scroll

	h2.docs-card-title Show on Scroll

	p A lightweight and simple script performs the action of appearing an element during page scrolling.

	h5 Additional attributes:

	ul
		li Duration (milliseconds) - #[code data-show-duration="500"]
		li Delay (milliseconds) - #[code data-show-delay="100"]
		li Distance (px) - #[code data-show-distance="30"]
		li Position (default: bottom) - #[code data-show-origin="left"] - #[code top] | #[code right] | #[code bottom] | #[code left]

	p HTML Example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="show-on-scroll.html")