.docs-card.tab-content.bg-white.rounded-4#plugin-magnific-popup

	h2.docs-card-title Magnific Popup

	p JavaScript lightbox library for presenting various types of media. Responsive, touch-enabled and customizable.

	p #[a(href="https://dimsemenov.com/plugins/magnific-popup/documentation.html") Plugin documentation].

	.docs-card-example

		a(href="https://www.youtube.com/watch?v=BGrY85i-skk", class="image-link")

			img(src="https://img.youtube.com/vi/BGrY85i-skk/maxresdefault.jpg", alt="", class="w-100")

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="magnific-popup.html")