.docs-card.tab-content.bg-white.rounded-4#plugin-swiper

	h2.docs-card-title Swiper

	p See inside the template for more examples.

	h5 Additional classes:

	ul

		li Horizontal - #[code .swiper-full-horizontal]

	h5 Additional attributes:

	ul

		li #[code data-swiper-loop] - boolean
		li #[code data-swiper-effect] - "slide", "fade"
		li #[code data-swiper-freeMode] - boolean
		li #[code data-swiper-grabCursor] - boolean
		li #[code data-swiper-autoHeight] - boolean
		li #[code data-swiper-parallax] - boolean
		li #[code data-swiper-center] - boolean
		li #[code data-swiper-slides] - number
		li #[code data-swiper-pagination] - boolean
		li #[code data-swiper-autoplay] - number
		li #[code data-swiper-speed] - number
		li #[code data-swiper-gap] - number
		li #[code data-swiper-breakpoints] - example #[code "1200: 2, 600: 1"] = 1200(breakpoint): 2(slides), 600(breakpoint): 1(slides)

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="swiper.html")