.docs-card.tab-content.bg-white.rounded-4#plugin-countdown

	h2.docs-card-title Countdown

	p This attribute #[code data-due-date="..."] can be one of the following:

	ul
		li #[code YYYY/MM/DD]
		li #[code MM/DD/YYYY]
		li #[code YYYY/MM/DD hh:mm:ss]
		li #[code MM/DD/YYYY hh:mm:ss]

	p HTML Example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="countdown.html")
