.docs-card.tab-content.bg-white.rounded-4#thank-you

	h2.docs-card-title Thank You!

	p Thanks for using #{ThemeName}. We take great pride in creating solid templates and strongly believe in robust customer service practices. Should you have a question that neither this documentation file nor Bootstrap's forums can resolve and we’ll do our very best to assist you.

	p.m-0 We hope you will enjoy using it for your next project!