.docs-card.tab-content.bg-white.rounded-4#topbar-navigation

	h2.docs-card-title Topbar Navigation

	a(href="../assets/img/docs/topbar-navigation.jpg", class="d-block shadow image-link")

		img(src="../assets/img/docs/topbar-navigation.jpg", alt="", loading="lazy", class="w-100")

	p HTML example:

	code.docs-card-gist(data-gist-id="3db95727944fb311a7fb574e51e90d5b", data-gist-file="topbar-navigation.html")
