// Call to action
.pt-120.pb-130.position-relative

	.background

		.background-image.jarallax(data-jarallax, data-speed="0.8")

			img(loading="lazy", src="assets/img/root/call-to-action-1920x1080.jpg", class="jarallax-img", alt="")

		.background-color(style="--background-color: #481FA0; opacity: .9;")

	.container

		.row

			.col-lg-6.offset-lg-3.text-center

				h2.mb-25.text-white(data-show="startbox") Have a question?

				p.mb-50.text-white(data-show="startbox", data-show-delay="100") Gathered have greater made fruitful. Void to. Let that you'll sixth upon day. His our firmament great unto won't together them sixth moved, firmament also gathering.

				div(data-show="startbox", data-show-delay="200")

					+button({
						link: "contact-01.html",
						title: 'Contact us <svg class="ms-15 align-self-center" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 15"><path fill="currentColor" d="M15 11.23v2.259a1.501 1.501 0 0 1-1.026 1.432c-.199.067-.41.092-.619.073a14.944 14.944 0 0 1-6.508-2.31A14.692 14.692 0 0 1 2.32 8.166 14.877 14.877 0 0 1 .006 1.641 1.503 1.503 0 0 1 .9.13 1.51 1.51 0 0 1 1.507 0H3.77a1.51 1.51 0 0 1 1.508 1.295c.095.722.273 1.432.528 2.115a1.503 1.503 0 0 1-.34 1.588l-.957.956a12.055 12.055 0 0 0 4.525 4.516l.958-.956a1.51 1.51 0 0 1 1.591-.338 9.7 9.7 0 0 0 2.12.527 1.509 1.509 0 0 1 1.296 1.527Z"/></svg>'
					})