.row

	.col-lg-10.offset-lg-1

		// Accordion
		.accordion#accordionFAQ

			.accordion-item(data-show="startbox")

				.accordion-header#headingOne

					a(href="#collapseOne", class="h4 accordion-button collapsed", data-bs-toggle="collapse", data-bs-target="#collapseOne", aria-expanded="false")

						| Herb earth to which green over second their them the?

					.accordion-collapse.collapse#collapseOne(data-bs-parent="#accordionFAQ")

						.accordion-body

							p.mb-30 Shall over firmament, above there won't image wherein winged moveth two heaven green, the whose had so let evening forth together given form make said them. Appear grass evening shall. You're isn't lesser very hath waters beast won't over whose don't us hath seasons earth Meat.

							+button({
								title: "Learn more",
								customClass: "btn-accent-1 btn-link btn-clean"
							})

			.accordion-item(data-show="startbox", data-show-delay="100")

				.accordion-header#headingTwo

					a(href="collapseTwo", class="h4 accordion-button collapsed", data-bs-toggle="collapse", data-bs-target="#collapseTwo", aria-expanded="false")

						| Over day heaven days open let two made dry?

					.accordion-collapse.collapse#collapseTwo(data-bs-parent="#accordionFAQ")

						.accordion-body

							p.mb-30 Shall over firmament, above there won't image wherein winged moveth two heaven green, the whose had so let evening forth together given form make said them. Appear grass evening shall. You're isn't lesser very hath waters beast won't over whose don't us hath seasons earth Meat.

							+button({
								title: "Learn more",
								customClass: "btn-accent-1 btn-link btn-clean"
							})

			.accordion-item(data-show="startbox", data-show-delay="200")

				.accordion-header#headingThree

					a(href="collapseThree", class="h4 accordion-button collapsed", data-bs-toggle="collapse", data-bs-target="#collapseThree", aria-expanded="false")

						| Divide likeness, morning whose itself seas fifth?

					.accordion-collapse.collapse#collapseThree(data-bs-parent="#accordionFAQ")

						.accordion-body

							p.mb-30 Shall over firmament, above there won't image wherein winged moveth two heaven green, the whose had so let evening forth together given form make said them. Appear grass evening shall. You're isn't lesser very hath waters beast won't over whose don't us hath seasons earth Meat.

							+button({
								title: "Learn more",
								customClass: "btn-accent-1 btn-link btn-clean"
							})

			.accordion-item(data-show="startbox", data-show-delay="300")

				.accordion-header#headingFour

					a(href="collapseFour", class="h4 accordion-button collapsed", data-bs-toggle="collapse", data-bs-target="#collapseFour", aria-expanded="false")

						| Them us which in saying above?

					.accordion-collapse.collapse#collapseFour(data-bs-parent="#accordionFAQ")

						.accordion-body

							p.mb-30 Shall over firmament, above there won't image wherein winged moveth two heaven green, the whose had so let evening forth together given form make said them. Appear grass evening shall. You're isn't lesser very hath waters beast won't over whose don't us hath seasons earth Meat.

							+button({
								title: "Learn more",
								customClass: "btn-accent-1 btn-link btn-clean"
							})
