.container

	.row.mb-90

		.col-lg-6.offset-lg-3.text-center.px-lg-50

			h2.mb-25.px-lg-10(data-show="startbox") Our industries

			p.m-0(data-show="startbox", data-show-delay="100") Waters his moveth seasons over Created appear greater dry air. Cattle set it night let i fruitful make our appear.

	.row.gy-30

		// Item
		.col-12.col-md-6.col-lg-4(data-show="startbox")

			+service_line({
				style: "small",
				title: "Financial Sector",
				icon: '<svg xmlns="http://www.w3.org/2000/svg" width="38" height="41" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M36 7.55c0 3.065-7.611 5.55-17 5.55S2 10.615 2 7.55m34 0C36 4.485 28.389 2 19 2S2 4.485 2 7.55m34 0v25.9C36 36.521 28.444 39 19 39c-9.444 0-17-2.479-17-5.55V7.55M36 20.5c0 3.071-7.556 5.55-17 5.55-9.444 0-17-2.479-17-5.55"/></svg>',
				customClass: "position-relative rounded-3"
			})

		// Item
		.col-12.col-md-6.col-lg-4(data-show="startbox", data-show-delay="100")

			+service_line({
				style: "small",
				title: "Real Estate",
				icon: '<svg xmlns="http://www.w3.org/2000/svg" width="37" height="41" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M13 39V20.5h11V39M2 14.95 18.5 2 35 14.95V35.3c0 .981-.386 1.922-1.074 2.616A3.65 3.65 0 0 1 31.333 39H5.667a3.65 3.65 0 0 1-2.593-1.084A3.717 3.717 0 0 1 2 35.3V14.95Z"/></svg>',
				customClass: "position-relative rounded-3"
			})

		// Item
		.col-12.col-md-6.col-lg-4(data-show="startbox", data-show-delay="200")

			+service_line({
				style: "small",
				title: "Agribusiness",
				icon: '<svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M20.5 2v3.364m0 30.272V39M7.415 7.415l2.389 2.389m21.392 21.392 2.388 2.388M2 20.5h3.364m30.272 0H39M7.415 33.584l2.389-2.388M31.196 9.804l2.388-2.389M28.91 20.5a8.41 8.41 0 1 1-16.818 0 8.41 8.41 0 0 1 16.818 0Z"/></svg>',
				customClass: "position-relative rounded-3"
			})

		// Item
		.col-12.col-md-6.col-lg-4(data-show="startbox")

			+service_line({
				style: "small",
				title: "Technology",
				icon: '<svg xmlns="http://www.w3.org/2000/svg" width="43" height="36" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M7.318 34V21.556m0-7.112V2M21.5 34V18m0-7.111V2m14.182 32v-8.889m0-7.111V2M2 21.556h10.636m3.546-10.667h10.636m3.546 14.222H41"/></svg>',
				customClass: "position-relative rounded-3"
			})

		// Item
		.col-12.col-md-6.col-lg-4(data-show="startbox", data-show-delay="100")

			+service_line({
				style: "small",
				title: "Public Sector",
				icon: '<svg xmlns="http://www.w3.org/2000/svg" width="38" height="42" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="m12.559 23.869 12.901 7.562m-.019-20.862L12.56 18.131M36 7.7c0 3.148-2.537 5.7-5.667 5.7s-5.666-2.552-5.666-5.7S27.204 2 30.333 2C33.463 2 36 4.552 36 7.7ZM13.333 21c0 3.148-2.537 5.7-5.666 5.7C4.537 26.7 2 24.148 2 21s2.537-5.7 5.667-5.7 5.666 2.552 5.666 5.7ZM36 34.3c0 3.148-2.537 5.7-5.667 5.7s-5.666-2.552-5.666-5.7 2.537-5.7 5.666-5.7c3.13 0 5.667 2.552 5.667 5.7Z"/></svg>',
				customClass: "position-relative rounded-3"
			})

		// Item
		.col-12.col-md-6.col-lg-4(data-show="startbox", data-show-delay="200")

			+service_line({
				style: "small",
				title: "Construction",
				icon: '<svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M2 29.75 20.5 39 39 29.75M2 20.5l18.5 9.25L39 20.5M20.5 2 2 11.25l18.5 9.25L39 11.25 20.5 2Z"/></svg>',
				customClass: "position-relative rounded-3"
			})