.position-relative.shape-parent.mt-80

	// Shape
	.shape.justify-content-start.mt-n40.ms-n45.text-dark(data-jarallax-element="40")

		include ../../partials/_shape.pug

	div.position-absolute.end-0.top-0.mt-n80(data-img-height, style="--img-height: 100%; width: 230px;")

		img(loading="lazy", src="assets/img/about-us-4-900x990.jpg", alt="", class="rounded-4")

	div.me-100(data-img-height, style="--img-height: 70%;", data-show="startbox")

		a(href="assets/img/about-us-3-900x630.jpg", class="image-link")

			img(loading="lazy", src="assets/img/about-us-3-900x630.jpg", alt="", class="rounded-4")