.pt-110.pb-120.position-relative

	.background

		.background-image.jarallax(data-jarallax, data-speed="0.8")

			img(loading="lazy", src="assets/img/root/numbers-1920x600.jpg", class="jarallax-img", alt="")

		.background-color(style="--background-color: #F01F4B; opacity: .88;")

	.container

		.row.gy-40

			.col-12.col-sm-6.col-lg-3(data-show="startbox")

				div.h1.m-0.text-white 328
				div.h6.mb-15.text-white Successful projects
				p.font-size-15.m-0.text-white You every can't thing seed subdue subdue light female.

			.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="100")

				div.h1.m-0.text-white 10+
				div.h6.mb-15.text-white Years of exeperience
				p.font-size-15.m-0.text-white Called a fly, behold seasons meat which stars bring fruit.

			.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="200")

				div.h1.m-0.text-white 68%
				div.h6.mb-15.text-white Cost savings
				p.font-size-15.m-0.text-white Image isn't that give appear made us you're yielding.

			.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="300")

				div.h1.m-0.text-white 1k
				div.h6.mb-15.text-white Email leads generated
				p.font-size-15.m-0.text-white Fruit deep first cattle set fourth without and day subdue.