
.row.gy-40.pt-120

	.col-12.col-sm-6.col-lg-3(data-show="startbox")

		div.h4.m-0.text-black User research
		//div.h6.mb-15 Successful projects
		//p.font-size-15.m-0.pe-20 You every can't thing seed subdue subdue light female.

	.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="100")

		div.h4.m-0.text-black Design methods
		//div.h6.mb-15 Years of exeperience
		//p.font-size-15.m-0.pe-20 Called a fly, behold seasons meat which stars bring fruit.

	.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="200")

		div.h4.m-0.text-black Web developing
		//div.h6.mb-15 Cost savings
		//p.font-size-15.m-0.pe-20 Image isn't that give appear made us you're yielding.

	.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="300")

		div.h4.m-0.text-black Interaction design
		//div.h6.mb-15 Email leads generated
		//p.font-size-15.m-0.pe-20 Fruit deep first cattle set fourth without and day subdue.

.row.gy-40.pt-120

	.col-12.col-sm-6.col-lg-3(data-show="startbox" data-show-delay="100")

		div.h4.m-0.text-black Digital tools
		//div.h6.mb-15 Successful projects
		//p.font-size-15.m-0.pe-20 You every can't thing seed subdue subdue light female.

	.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="200")

		div.h4.m-0.text-black Pen and paper
		//div.h6.mb-15 Years of exeperience
		//p.font-size-15.m-0.pe-20 Called a fly, behold seasons meat which stars bring fruit.

	.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="300")

		div.h4.m-0.text-black Great attitude
		//div.h6.mb-15 Cost savings
		//p.font-size-15.m-0.pe-20 Image isn't that give appear made us you're yielding.

	.col-12.col-sm-6.col-lg-3(data-show="startbox", data-show-delay="400")

		div.h4.m-0.text-black Fika
		//div.h6.mb-15 Email leads generated
		//p.font-size-15.m-0.pe-20 Fruit deep first cattle set fourth without and day subdue.