.pt-120.pb-130.bg-dark.shape-parent.overflow-hidden

	// Shape
	.shape.align-items-end.justify-content-start

		img(loading="lazy", src="assets/img/root/services-shape-420x487.png", alt="", width="420", height="487")

	.container

		.row.gy-90

			.col-lg-3

				h2.m-0.text-white(data-show="startbox") What people say about our company

			.col-lg-8.offset-lg-1

				// Slider
				.swiper(data-swiper-slides="1", data-swiper-breakpoints="1024:2", data-swiper-gap="30", data-swiper-grabcursor="true", data-show="startbox", data-show-delay="100")

					.swiper-container

						.swiper-wrapper

							.swiper-slide.h-auto

								+feedback({
									customClass: "bg-dark-light rounded-4 pe-60 h-100",
									authorClass: "text-white mb-5",
									positionClass: "text-gray font-size-14 m-0",
									text: "“ Is don't lights appear fifth face heaven. Night spirit shall tree of Life over, unto in earth second. First, two waters, female. ”",
									avatar: "assets/img/root/avatar-3-200x200.jpg",
									textClass: "fw-medium text-white m-0"
								})

							.swiper-slide.h-auto

								+feedback({
									author: "Catherine Daniels",
									position: "Senior UX Designer, Unvab Inc.",
									customClass: "bg-dark-light rounded-4 pe-60 h-100",
									authorClass: "text-white mb-5",
									positionClass: "text-gray font-size-14 m-0",
									text: "“ He years Upon male wherein fruit upon abundantly. I gathered behold, you female 🔥 ”",
									avatar: "assets/img/root/avatar-2-200x200.jpg",
									textClass: "fw-medium text-white m-0"
								})

							.swiper-slide.h-auto

								+feedback({
									author: "Richard Norris",
									position: "Senior Marketing Specialist, Unvab Inc.",
									customClass: "bg-dark-light rounded-4 pe-60 h-100",
									authorClass: "text-white mb-5",
									positionClass: "text-gray font-size-14 m-0",
									text: "“ Is don't lights appear fifth face heaven. Night spirit shall tree of Life over, unto in earth second. First, two waters, female. ”",
									textClass: "fw-medium text-white m-0"
								})

					.d-flex.mt-70

						.swiper-button-prev.swiper-button-position-2.swiper-button-dark.shadow

							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"/></svg>

						.swiper-button-next.swiper-button-position-2.swiper-button-dark.shadow

							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"/></svg>
