.pt-120.pb-130.bg-linear-gradient

	.container

		.row.align-items-center.gy-90

			.col-lg-6

				// Slider
				.swiper.me-lg-70(data-swiper-slides="1", data-swiper-effect="fade", data-show="startbox")

					.swiper-container

						.swiper-wrapper.gallery-wrapper

							.swiper-slide

								+gallery_item({
									image: "assets/img/about-us-1-900x990.jpg",
									imageHeight: "110%"
								})

							.swiper-slide

								+gallery_item({
									image: "assets/img/about-us-2-900x990.jpg",
									imageHeight: "110%"
								})

					.swiper-button-prev.swiper-button-position-1.swiper-button-white.shadow

						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"/></svg>

					.swiper-button-next.swiper-button-position-1.swiper-button-white.shadow

						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"/></svg>

			.col-lg-6

				h3.mb-50(data-show="startbox", data-show-delay="100") #[span.highlight With experience] from top companies

				p.mb-60.me-lg-70(data-show="startbox", data-show-delay="200") Shall over firmament, above there won't image wherein winged moveth two heaven green, the whose had so let evening forth together given form make.

				.row.gy-40

					// Item
					.col-12.col-md-6(data-show="startbox")

						ul.list.fw-medium.font-size-15

							li.active Green moved years face our may male female.

					// Item
					.col-12.col-md-6(data-show="startbox", data-show-delay="100")

						ul.list.fw-medium.font-size-15

							li.active Saying land be may stars whales she'd set fruitful.

					// Item
					.col-12.col-md-6(data-show="startbox", data-show-delay="200")

						ul.list.fw-medium.font-size-15

							li.active Firmament divide brought so sixth after very, itself.

					// Item
					.col-12.col-md-6(data-show="startbox", data-show-delay="300")

						ul.list.fw-medium.font-size-15

							li.active Without fill years fifth is them Fifth open from earth.