if Footer == 'show'

	// Footer
	case FooterLayout
		when 'default-dark'
			include layouts/_default-dark.pug
		when 'default-white'
			include layouts/_default-white.pug
		when 'minimal-dark'
			include layouts/_minimal-dark.pug