include ../mixins/_global-mixins.pug

+nav_item_collapse('Home', 'index.html', 'nav-item navbar-collapse', 'navbarCollapseHome')
	.navbar-collapse-menu.collapse#navbarCollapseHome
		ul.nav.navbar-nav
			+nav_item('Home 01', 'home-01.html', 'nav-item')
			+nav_item('Home 02', 'home-02.html', 'nav-item')
			+nav_item('Home 03', 'home-03.html', 'nav-item')
			+nav_item('Home 04', 'home-04.html', 'nav-item')
			+nav_item('Home 05', 'home-05.html', 'nav-item')
			+nav_item('Home 06', 'home-06.html', 'nav-item')
+nav_item_collapse('Services', 'services-01.html', 'nav-item navbar-collapse', 'navbarCollapseServices')
	.navbar-collapse-menu.collapse#navbarCollapseServices
		ul.nav.navbar-nav
			+nav_item('Services 01', 'services-01.html', 'nav-item')
			+nav_item('Services 02', 'services-02.html', 'nav-item')
			+nav_item('Service Single', 'service-single.html', 'nav-item')
+nav_item_collapse('Pages', 'about-us.html', 'nav-item navbar-collapse', 'navbarCollapsePages')
	.navbar-collapse-menu.collapse#navbarCollapsePages
		ul.nav.navbar-nav
			+nav_item('About Us', 'about-us.html', 'nav-item')
			+nav_item('About Me', 'about-me.html', 'nav-item')
			+nav_item('Pricing', 'pricing.html', 'nav-item')
			+nav_item('Team', 'team.html', 'nav-item')
			+nav_item('Page 404', '404.html', 'nav-item')
			+nav_item('Coming Soon', 'coming-soon.html', 'nav-item')
+nav_item_collapse('Portfolio', 'projects-01.html', 'nav-item navbar-collapse', 'navbarCollapsePortfolio')
	.navbar-collapse-menu.collapse#navbarCollapsePortfolio
		ul.nav.navbar-nav
			+nav_item('Projects 01', 'projects-01.html', 'nav-item')
			+nav_item('Projects 02', 'projects-02.html', 'nav-item')
			+nav_item('Projects 03', 'projects-03.html', 'nav-item')
			+nav_item('Projects 04', 'projects-04.html', 'nav-item')
			+nav_item('Projects 05', 'projects-05.html', 'nav-item')
			+nav_item('Project Single 01', 'project-single-01.html', 'nav-item')
			+nav_item('Project Single 02', 'project-single-02.html', 'nav-item')
			+nav_item('Project Single 03', 'project-single-03.html', 'nav-item')
+nav_item_collapse('Blog', 'blog.html', 'nav-item navbar-collapse', 'navbarCollapseBlog')
	.navbar-collapse-menu.collapse#navbarCollapseBlog
		ul.nav.navbar-nav
			+nav_item('Blog', 'blog.html','nav-item')
			+nav_item('Single Post', 'single-post.html','nav-item')
+nav_item_collapse('Contact', 'contact-01.html', 'nav-item navbar-collapse', 'navbarCollapseContact')
	.navbar-collapse-menu.collapse#navbarCollapseContact
		ul.nav.navbar-nav
			+nav_item('Contact 01', 'contact-01.html', 'nav-item')
			+nav_item('Contact 02', 'contact-02.html', 'nav-item')