//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Contact 01' // page title
- MenuTitle = 'Contact 01' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'show' // show / hide
- Topbar = 'show' // show / hide
- HeaderLayout = 'default' // aside / default

//- Navbar Options
- NavbarAction = 'button' // button / button-2 / button-3 / socials
- NavbarDark = 'false' // true / false
- NavbarBorder = 'false' // true / false
- NavbarFixed = 'false' // true / false
- NavbarSolid = 'true' // true / false
- NavbarOpaque = 'false' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-dark' // default-dark / default-white / minimal-dark

//- Other Options
- CallToActionShape = 'show' // show / hide

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			// Page title
			.position-relative.py-210

				.background

					.background-image.jarallax(data-jarallax, data-speed="0.8")

						img(loading="lazy", src="assets/img/contact-hero-1920x900.jpg", class="jarallax-img", alt="")

					.background-color(style="--background-color: #000; opacity: .25;")

				.container

					h1.text-white.mb-0.text-center Contact Us

			.pt-120.pb-180.footerPrev

				.container

					.row.gy-50

						.col-lg-4

							// Item
							.d-flex(data-show="startbox")

								.flex-shrink-0

									<svg class="text-accent-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path fill="currentColor" d="M16 11.98v2.408a1.604 1.604 0 0 1-1.094 1.527 1.613 1.613 0 0 1-.66.079 15.941 15.941 0 0 1-6.943-2.465A15.672 15.672 0 0 1 2.476 8.71a15.869 15.869 0 0 1-2.47-6.96A1.603 1.603 0 0 1 .96.136C1.163.047 1.384 0 1.607 0h2.414A1.61 1.61 0 0 1 5.63 1.381c.102.77.29 1.528.563 2.256a1.603 1.603 0 0 1-.362 1.694l-1.022 1.02a12.86 12.86 0 0 0 4.827 4.817l1.022-1.02a1.61 1.61 0 0 1 1.697-.36c.73.271 1.489.46 2.26.561A1.61 1.61 0 0 1 16 11.98Z"/></svg>

								.flex-grow-1.ms-15
									h5.m-0 Contact info:
									p.m-0.mt-15 Email: hello@startbox.com #[br]Phone: +44 207 112 82 85

							// Item
							.d-flex.mt-50(data-show="startbox", data-show-delay="100")

								.flex-shrink-0

									<svg class="text-accent-1" xmlns="http://www.w3.org/2000/svg" width="15" height="17" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M7.5 17S15 12.364 15 6.955c0-1.845-.79-3.614-2.197-4.918C11.397.733 9.49 0 7.5 0 5.51 0 3.603.733 2.197 2.037.79 3.34 0 5.11 0 6.955 0 12.364 7.5 17 7.5 17ZM10 7.286c0 1.341-1.12 2.428-2.5 2.428S5 8.627 5 7.286c0-1.342 1.12-2.429 2.5-2.429S10 5.944 10 7.286Z" clip-rule="evenodd"/></svg>

								.flex-grow-1.ms-15
									h5.m-0 Address:
									p.m-0.mt-15 2260 Lady Bug Drive, #[br]New York, NY 10011

							// Item
							.d-flex.mt-50(data-show="startbox", data-show-delay="200")

								.flex-shrink-0

									<svg class="text-accent-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.7 3.379a1 1 0 1 0-2 0v4.8a1 1 0 0 0 .553.894l3.2 1.6a1 1 0 1 0 .894-1.789L8.7 7.561V3.379Z" clip-rule="evenodd"/></svg>

								.flex-grow-1.ms-15
									h5.m-0 Hours of operation:
									p.m-0.mt-15 Monday - Friday #[br]10:00 am - 7:30 pm

						.col-lg-8(data-show="startbox", data-show-delay="300")

							// Form
							form

								.row.gy-40

									.col-12.col-md-6

										input(type="text", class="form-control", placeholder="Your Name *")

									.col-12.col-md-6

										input(type="email", class="form-control", placeholder="Your Email *")

									.col-12.col-md-6

										input(type="tel", class="form-control", placeholder="Your Phone *")

									.col-12.col-md-6

										input(type="text", class="form-control", placeholder="Company")

									.col-12.col-md-6

										select.form-control
											option(selected="") I interested in ...
											option Colibri Creative Project
											option Colibri Project
											option Happy Moments Photoset
											option Luxury Car Website
											option Funny Dog
											option Creative Branding

									.col-12.col-md-6

										select.form-control
											option(selected="") Budget
											option &lt; 10 000
											option 10-20k
											option 20-30k
											option &gt; 30 000

									.col-12.mb-10

										textarea(class="form-control", rows="2", placeholder="Message *")

									.col-12.col-md-6.col-lg-5

										.form-attach-file

											label(for="formFile", class="form-attach-label")

												<svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M24 12.251 13.126 22.953A7.162 7.162 0 0 1 8.103 25a7.162 7.162 0 0 1-5.022-2.047A6.935 6.935 0 0 1 1 18.009c0-1.854.748-3.632 2.08-4.943L13.955 2.365A4.775 4.775 0 0 1 17.303 1c1.256 0 2.46.491 3.348 1.365a4.624 4.624 0 0 1 1.387 3.295 4.624 4.624 0 0 1-1.387 3.296L9.766 19.657a2.387 2.387 0 0 1-1.675.683c-.627 0-1.23-.246-1.674-.683a2.312 2.312 0 0 1-.693-1.648c0-.618.25-1.21.693-1.647l10.046-9.875"/></svg>
												| Attach file

											input(type="file", class="form-control", id="formFile", hidden)

									.col-12.col-md-6.col-lg-4

										.form-check

											input(type="checkbox", value="", class="form-check-input", id="personalData")

											label(for="personalData", class="form-check-label") I agree with the processing of personal data *

									.col-12.col-lg-3.text-start.text-lg-end

										+button({
											tag: "button",
											title: "Send"
										})

			// Google Map
			.position-relative

				.half-section-block.container.position-absolute.top-50.start-0.end-0(data-prev-id=".footerPrev", data-next-id=".footerNext")

					.shape-parent

						// Shape
						.shape.justify-content-start.mt-n40.ms-n45.text-dark(data-jarallax-element="40")

							include partials/_shape.pug

						// Map
						.map-container.bg-dark.rounded-4.overflow-hidden(style="height: 506px;")

							iframe(src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed", allowfullscreen, style="border: 0px;")

		//- Footer
		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug