//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Home 02' // page title
- MenuTitle = 'Home 02' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'show' // show / hide
- Topbar = 'hide' // show / hide
- HeaderLayout = 'aside' // aside / default

//- Navbar Options
- NavbarAction = 'button' // button / button-2 / button-3 / socials
- NavbarDark = 'true' // true / false
- NavbarBorder = 'false' // true / false
- NavbarFixed = 'true' // true / false
- NavbarSolid = 'false' // true / false
- NavbarOpaque = 'false' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-white' // default-dark / default-white / minimal-dark

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			.pt-180.pb-130.shape-parent

				.background

					.background-image.jarallax(data-jarallax, data-speed="0.8")

						img(loading="lazy", src="assets/img/root/call-to-action-1920x1080.jpg", class="jarallax-img", alt="")

					.background-color(style="--background-color: #481FA0;")

				// Shape
				.shape.justify-content-center.mt-80

					img(loading="lazy", src="assets/img/root/home-2-shape-962x296.png", alt="", width="962", height="296")

				// Shape
				.shape.justify-content-start.align-items-end

					img(loading="lazy", src="assets/img/root/home-2-shape-562x587.png", alt="", width="562", height="587")

				// Shape
				.shape.justify-content-end.align-items-center

					img(loading="lazy", src="assets/img/root/home-2-shape-247x430.png", alt="", width="247", height="430")

				.container.text-center

					.row

						.col-lg-8.offset-lg-2

							h1.text-white.mb-30.px-lg-30 We’re an award-winning digital agency

							p.fw-medium.font-size-18.text-white.mb-45 Which them don't replenish herb spirit.

							+button({
								link: "contact-01.html",
								title: 'Contact us <svg class="ms-15 align-self-center" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 15"><path fill="currentColor" d="M15 11.23v2.259a1.501 1.501 0 0 1-1.026 1.432c-.199.067-.41.092-.619.073a14.944 14.944 0 0 1-6.508-2.31A14.692 14.692 0 0 1 2.32 8.166 14.877 14.877 0 0 1 .006 1.641 1.503 1.503 0 0 1 .9.13 1.51 1.51 0 0 1 1.507 0H3.77a1.51 1.51 0 0 1 1.508 1.295c.095.722.273 1.432.528 2.115a1.503 1.503 0 0 1-.34 1.588l-.957.956a12.055 12.055 0 0 0 4.525 4.516l.958-.956a1.51 1.51 0 0 1 1.591-.338 9.7 9.7 0 0 0 2.12.527 1.509 1.509 0 0 1 1.296 1.527Z"/></svg>'
							})

				.container.mt-75

					// Slider
					.swiper(data-swiper-slides="1", data-swiper-breakpoints="828:2, 1024:3", data-swiper-gap="30", data-swiper-grabcursor="true", data-show="startbox")

						.swiper-container

							.swiper-wrapper

								.swiper-slide.pt-15

									+card_portfolio({
										style: "style-6",
										image: "assets/img/home-2-slider-1-900x830.jpg",
										imageHeight: "92%"
									})

								.swiper-slide.pt-15

									+card_portfolio({
										style: "style-6",
										image: "assets/img/home-2-slider-2-900x830.jpg",
										imageHeight: "92%"
									})

								.swiper-slide.pt-15

									+card_portfolio({
										style: "style-6",
										image: "assets/img/home-2-slider-3-900x830.jpg",
										imageHeight: "92%",
									})

								.swiper-slide.pt-15

									+card_portfolio({
										style: "style-6",
										image: "assets/img/home-2-slider-4-900x830.jpg",
										imageHeight: "92%"
									})

						.swiper-button-prev.swiper-button-position-1.swiper-button-white.shadow

							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"/></svg>

						.swiper-button-next.swiper-button-position-1.swiper-button-white.shadow

							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"/></svg>

			.pt-120.pb-130

				.container

					.row

						.col-lg-12

							span.badge.bg-light.text-dark.mb-20(data-show="startbox") What we do

					.row.gy-40

						.col-lg-5

							h2.m-0(data-show="startbox", data-show-delay="100") You #[span.highlight share your idea.] #[br]We get it done.

						.col-lg-6.offset-lg-1

							p.m-0(data-show="startbox", data-show-delay="200") His hath is appear be one don't creepeth. Them and one moving the won't may. Moving saw wherein divide bearing called. Green moveth Hath. That it years fruit behold Meat also us third itself made seasons green void give replenish our said saying also spirit give lesser wherein.

				.container.mt-120

					.row.gy-30

						.col-12.col-lg-6(data-show="startbox")

							+service_line

						.col-12.col-lg-6(data-show="startbox", data-show-delay="100")

							+service_line({
								icon: '<svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M2 29.75 20.5 39 39 29.75M2 20.5l18.5 9.25L39 20.5M20.5 2 2 11.25l18.5 9.25L39 11.25 20.5 2Z"/></svg>',
								title: "Software Development"
							})

						.col-12.col-lg-6(data-show="startbox")

							+service_line({
								icon: '<svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M7.55 26.05H5.7a3.7 3.7 0 0 1-3.7-3.7V5.7A3.7 3.7 0 0 1 5.7 2h16.65a3.7 3.7 0 0 1 3.7 3.7v1.85m-7.4 7.4H35.3a3.7 3.7 0 0 1 3.7 3.7V35.3a3.7 3.7 0 0 1-3.7 3.7H18.65a3.7 3.7 0 0 1-3.7-3.7V18.65a3.7 3.7 0 0 1 3.7-3.7Z"/></svg>',
								title: "Mobile Development"
							})

						.col-12.col-lg-6(data-show="startbox", data-show-delay="100")

							+service_line({
								icon: '<svg xmlns="http://www.w3.org/2000/svg" width="42" height="40" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="m21 2 5.871 11.849L40 15.76l-9.5 9.218L32.742 38 21 31.849 9.258 38 11.5 24.978 2 15.76l13.129-1.911L21 2Z"/></svg>',
								title: "Branding Strategy"
							})

						.col-12.col-lg-6(data-show="startbox")

							+service_line({
								icon: '<svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M39 2 18.65 22.35M39 2 26.05 39l-7.4-16.65M39 2 2 14.95l16.65 7.4"/></svg>',
								title: "Advertising & Marketing"
							})

						.col-12.col-lg-6(data-show="startbox", data-show-delay="100")

							+service_line({
								icon: '<svg xmlns="http://www.w3.org/2000/svg" width="42" height="40" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3" d="M21 38h19M30.5 3.306a4.488 4.488 0 0 1 7.304 1.447 4.444 4.444 0 0 1-.97 4.861l-26.39 26.283L2 38l2.111-8.41L30.5 3.305Z"/></svg>',
								title: "Graphic Design"
							})

					.text-center.mt-80

						div(data-show="startbox")

							+button({
								link: "services-01.html",
								title: 'Our Services'
							})

						p.fw-medium.font-size-15.mt-25.mb-0(data-show="startbox", data-show-delay="100") Want to get a free consultation? #[a(href="contact-01.html") Contact us].

			.bg-gray-light.shape-parent

				// Shape
				.shape.justify-content-end.align-items-start

					img(loading="lazy", src="assets/img/root/home-2-shape-390x294.png", alt="", width="390", height="294")

				.container

					.row

						.col-lg-6.position-relative.stretch-column.to-left.py-240

							.background

								.background-image.jarallax(data-jarallax, data-speed="0.8")

									img(loading="lazy", src="assets/img/home-2-900x770.jpg", class="jarallax-img", alt="")

						.col-lg-6.position-relative.pt-120.pb-130

							.ps-lg-100

								h3.mb-30(data-show="startbox") With experience from top companies

								p.mb-40(data-show="startbox", data-show-delay="100") His hath is appear be one don't creepeth. Them and one moving the won't may. Moving saw wherein divide bearing called. Green moveth Hath. That it years fruit behold Meat also us third itself made seasons green void give replenish our said saying also spirit give lesser wherein.

								div(data-show="startbox", data-show-delay="200")

									+button({
										title: "Learn more",
										customClass: "btn-accent-1 btn-link btn-clean"
									})

			.pt-120.pb-130

				.container

					.row.mb-90

						.col-lg-6.offset-lg-3.text-center

							span.badge.bg-light.text-dark.mb-20(data-show="startbox") Who we are

							h2.m-0(data-show="startbox", data-show-delay="100") Some facts about us

					.row.gy-45

						.col-lg-4

							// Item
							.d-flex(data-show="startbox")

								.flex-shrink-0

									.circle-icon.text-white.bg-accent-1.mt-10

										<svg xmlns="http://www.w3.org/2000/svg" width="22" height="25" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M8.8.75c-.938 0-1.822.394-2.463 1.07a3.64 3.64 0 0 0-.987 2.502V10H2.2C.985 10 0 10.96 0 12.143v10.714C0 24.041.985 25 2.2 25h17.6c1.215 0 2.2-.96 2.2-2.143V12.143C22 10.959 21.015 10 19.8 10h-3.15V4.322c0-.926-.348-1.827-.987-2.502A3.393 3.393 0 0 0 13.2.75H8.8ZM14.15 10V4.322a1.14 1.14 0 0 0-.302-.782.893.893 0 0 0-.648-.29H8.8a.893.893 0 0 0-.649.29 1.14 1.14 0 0 0-.301.782V10h6.3Z" clip-rule="evenodd"/></svg>

								.flex-grow-1.ms-40

									div.h1.m-0 328
									div.h6.mb-15 Successful projects
									p.font-size-15.m-0 You every can't thing seed subdue subdue light female.

						.col-lg-4

							// Item
							.d-flex(data-show="startbox")

								.flex-shrink-0

									.circle-icon.text-white.bg-accent-1.mt-10

										<svg xmlns="http://www.w3.org/2000/svg" width="29" height="27" fill="none"><path fill="currentColor" d="m14.5 0 4.48 8.886L29 10.32l-7.25 6.913L23.461 27 14.5 22.386 5.539 27l1.711-9.767L0 10.32l10.02-1.434L14.5 0Z"/></svg>

								.flex-grow-1.ms-40

									div.h1.m-0 10+
									div.h6.mb-15 Years of exeperience
									p.font-size-15.m-0 Called a fly, behold seasons meat which stars bring fruit.

						.col-lg-4

							// Item
							.d-flex(data-show="startbox")

								.flex-shrink-0

									.circle-icon.text-white.bg-accent-1.mt-10

										<svg xmlns="http://www.w3.org/2000/svg" width="26" height="28" fill="none"><path fill="currentColor" d="M25.25 14a1 1 0 1 0-2 0h2Zm-22.5 0a1 1 0 1 0-2 0h2Zm-2-8.75v17.5h2V5.25h-2Zm0 17.5c0 .953.576 1.704 1.258 2.245.692.549 1.632.998 2.707 1.357C6.874 27.072 9.798 27.5 13 27.5v-2c-3.048 0-5.749-.41-7.652-1.045-.957-.32-1.657-.678-2.098-1.027-.45-.358-.5-.594-.5-.678h-2ZM13 27.5c3.202 0 6.126-.428 8.285-1.148 1.075-.359 2.015-.808 2.707-1.357.682-.54 1.258-1.292 1.258-2.245h-2c0 .084-.05.32-.5.678-.44.349-1.141.707-2.098 1.027C18.75 25.09 16.048 25.5 13 25.5v2Zm12.25-4.75V5.25h-2v17.5h2ZM13 10c3.184 0 6.108-.429 8.271-1.15 1.076-.358 2.02-.808 2.714-1.355.683-.538 1.265-1.29 1.265-2.245h-2c0 .08-.048.315-.503.674-.444.35-1.149.71-2.108 1.029C18.729 7.589 16.029 8 13 8v2Zm12.25-4.75c0-.955-.582-1.707-1.265-2.245-.695-.547-1.638-.997-2.714-1.355C19.108.929 16.184.5 13 .5v2c3.029 0 5.73.41 7.639 1.047.96.32 1.664.679 2.108 1.029.455.359.503.594.503.674h2ZM13 .5C9.816.5 6.892.929 4.729 1.65c-1.076.358-2.02.808-2.714 1.355C1.332 3.543.75 4.295.75 5.25h2c0-.08.048-.315.503-.674.444-.35 1.149-.71 2.108-1.029C7.271 2.911 9.971 2.5 13 2.5v-2ZM.75 5.25c0 .955.582 1.707 1.265 2.245.695.547 1.638.997 2.714 1.355C6.892 9.571 9.816 10 13 10V8c-3.029 0-5.73-.41-7.639-1.047-.96-.32-1.664-.679-2.108-1.029-.455-.359-.503-.594-.503-.674h-2ZM23.25 14c0 .084-.05.32-.5.678-.44.349-1.141.707-2.098 1.027-1.903.635-4.604 1.045-7.652 1.045v2c3.202 0 6.126-.428 8.285-1.148 1.075-.359 2.015-.808 2.707-1.357.682-.54 1.258-1.292 1.258-2.245h-2ZM13 16.75c-3.048 0-5.749-.41-7.652-1.045-.957-.32-1.657-.678-2.098-1.027-.45-.358-.5-.594-.5-.678h-2c0 .953.576 1.705 1.258 2.245.692.549 1.632.998 2.707 1.357 2.159.72 5.083 1.148 8.285 1.148v-2Z"/></svg>

								.flex-grow-1.ms-40

									div.h1.m-0 68%
									div.h6.mb-15 Cost savings
									p.font-size-15.m-0 Image isn't that give appear made us you're yielding.

					.rounded-4.bg-dark.pt-160.pb-130.shape-parent.mt-120

						// Shape
						.shape.justify-content-end.rounded-top-right-4.overflow-hidden

							img(loading="lazy", src="assets/img/root/testimonial-shape-232x325.png", alt="", width="232", height="325")

						.swiper.shape-parent(data-swiper-slides="1", data-swiper-gap="30", data-swiper-grabcursor="true", data-show="startbox")

							// Shape
							.shape.justify-content-center.mt-n70

								<svg class="no-transform" xmlns="http://www.w3.org/2000/svg" width="169" height="145" fill="none"><path fill="#262528" d="M42.92 70.388 62.37 0H32.191L0 78.131V145h71.087V70.388H42.921Zm97.913 0L160.282 0h-30.179l-32.19 78.131V145H169V70.388h-28.167Z"/></svg>

							.swiper-container

								.swiper-wrapper

									.swiper-slide.px-45.px-lg-100

										.row

											.col-lg-10.offset-lg-1

												blockquote.h3.mb-50.text-white “ Firmament i won't which bring gathered. Give fruit greater male. ”

												.d-flex.align-items-center

													.flex-shrink-0

														img(loading="lazy", src="assets/img/root/avatar-2-200x200.jpg", alt="", class="rounded-circle", height="64", width="64")

													.flex-grow-1.ms-20

														h6.feedback-author.mb-5.text-white Catherine Daniels

														p.feedback-position.text-gray.font-size-14.m-0 Senior UX Designer, Unvab #[br]Inc.

									.swiper-slide.px-45.px-lg-100

										.row

											.col-lg-10.offset-lg-1

												blockquote.h3.mb-50.text-white “ Firmament i won't which bring gathered. Give fruit greater male. ”

												.d-flex.align-items-center

													.flex-shrink-0

														img(loading="lazy", src="assets/img/root/avatar-1-200x200.jpg", alt="", class="rounded-circle", height="64", width="64")

													.flex-grow-1.ms-20

														h6.feedback-author.mb-5.text-white Richard Norris

														p.feedback-position.text-gray.font-size-14.m-0 Senior Marketing Specialist, Unvab #[br]Inc.

							.d-none.d-lg-block

								.swiper-button-prev.swiper-button-position-1.swiper-button-white.shadow.mt-30.top-0

									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"/></svg>

								.swiper-button-next.swiper-button-position-1.swiper-button-white.shadow.mt-30.top-0

									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"/></svg>

						.row.mt-90.px-45.px-lg-100.g-8.flex-lg-nowrap

							.col(data-show="startbox")

								+brand({
									style: "sm",
									customClass: "rounded-2 bg-dark-light text-white"
								})

							.col(data-show="startbox", data-show-delay="100")

								+brand({
									style: "sm",
									customClass: "rounded-2 bg-dark-light text-white",
									logo: '<svg xmlns="http://www.w3.org/2000/svg" width="67" height="34" fill="none"><path fill="currentColor" d="M17.87 15.346 9.932 3.963v6.614c0 1.696.105 4.579 3.18 4.579v.19H6.415v-.19c2.907 0 3.327-2.905 3.327-4.58V3.71l-.99-1.42C7.49.613 6.669.634 6.123.591V.423h6.716l7.159 10.409v-5.66c0-1.972-.674-4.58-3.011-4.58V.423h6.38v.17c-2.611 0-3.18 2.607-3.18 4.578v10.175H17.87M36.586 11.192v4.154H24.29v-.19c.885 0 1.222-1.272 1.222-2.714V3.348c0-1.314-.295-2.756-1.222-2.756V.423h12.023v4.345h-.189c0-4.133-5.749-4.154-5.749-4.154h-.757v7.1h1.705c.021 0 2.253.065 2.485-2.5h.19v5.193h-.19c-.232-2.543-2.464-2.501-2.485-2.501h-1.705v7.25h.757s6.022.233 6.022-3.964h.19M61.832.423v.17c-.843 0-2.127.656-3.664 4.387l-3.685 10.366h-.758c-1.958-4.6-3.221-7.567-4.063-9.497l-3.37 9.497h-.758C40.228 2.86 39.954 2.31 39.954 2.31 39.238.614 38.944.635 38.397.592V.423h6.569v.17c-1.348 0-.274 2.458-.274 2.458l3.18 7.272 1.684-4.728a319.075 319.075 0 0 0-1.41-3.285C47.428.614 47.133.635 46.585.592V.423h6.57v.17c-1.347 0-.273 2.458-.273 2.458l3.159 7.293 1.894-5.364C58.463 3.476 58 .592 55.851.592V.423h5.981M23.987 18.8v.169c-.843 0-2.128.657-3.665 4.388l-3.684 10.366h-.759c-1.958-4.6-3.22-7.568-4.064-9.497l-3.369 9.497h-.758c-5.305-12.486-5.58-13.037-5.58-13.037-.715-1.695-1.01-1.674-1.557-1.717v-.17h6.57v.17c-1.349 0-.275 2.459-.275 2.459l3.18 7.271 1.684-4.728a318.702 318.702 0 0 0-1.41-3.285c-.717-1.695-1.01-1.674-1.559-1.717v-.17h6.57v.17c-1.348 0-.274 2.459-.274 2.459l3.158 7.292 1.895-5.363c.527-1.505.064-4.388-2.084-4.388v-.17h5.98ZM28.28 24.65l-1.873 4.77h3.979l-2.105-4.77Zm2.127-5.85h.106c5.327 12.295 5.684 12.994 5.684 12.994.758 1.696 1.475 1.717 1.895 1.76v.17h-7.369v-.17c1.685 0 .421-2.48.421-2.48l-.674-1.463h-4.127c-.421.976-.042 3.943 2.485 3.943v.17h-6.064v-.17c.631-.043 1.768-.212 3.39-3.943L30.407 18.8M52.935 18.8v.17c-.905 0-2.253.656-3.895 4.387l-4.148 10.366h-.61c-5.644-12.486-5.939-13.036-5.939-13.036-.758-1.696-1.074-1.675-1.663-1.718V18.8h7.011v.17c-1.453 0-.294 2.458-.294 2.458l3.264 7.313 2.169-5.384c.631-1.568.252-4.388-2.275-4.388V18.8h6.38M66.303 29.57v4.153H54.006v-.19c.885 0 1.222-1.273 1.222-2.714v-9.094c0-1.314-.296-2.756-1.222-2.756V18.8h12.023v4.345h-.19c0-4.133-5.748-4.154-5.748-4.154h-.758v7.101h1.706c.021 0 2.253.064 2.484-2.502h.19v5.194h-.19c-.23-2.543-2.463-2.502-2.484-2.502h-1.706v7.25h.758s6.022.234 6.022-3.963h.19"/></svg>'
								})

							.col(data-show="startbox", data-show-delay="200")

								+brand({
									style: "sm",
									customClass: "rounded-2 bg-dark-light text-white",
									logo: '<svg xmlns="http://www.w3.org/2000/svg" width="70" height="39" fill="none"><path fill="currentColor" d="M4.545 14.568v3.63h2.297c.563 0 1.007-.163 1.332-.493.324-.33.487-.763.487-1.3s-.166-.978-.498-1.322c-.333-.344-.773-.515-1.321-.515H4.545Zm0 6.423v5.864H.842v-15.08h6c1.76 0 3.133.452 4.115 1.354.982.902 1.473 1.991 1.473 3.265 0 .874-.267 1.726-.801 2.557-.535.83-1.408 1.417-2.621 1.76l3.726 6.145H8.4L4.979 20.99h-.434M24.3 11.733v2.792h-5.502v3.243h4.852v2.793h-4.852v3.502H24.3v2.793h-9.206V11.732H24.3M26.229 14.568v-2.792h11.999v2.792h-4.16v12.287h-3.702V14.568h-4.137ZM43.924 14.568v3.63h2.297c.562 0 1.006-.163 1.332-.493.324-.33.486-.763.486-1.3s-.166-.978-.497-1.322c-.333-.344-.773-.515-1.321-.515h-2.297Zm0 6.423v5.864h-3.703v-15.08h6c1.76 0 3.133.452 4.115 1.354.982.902 1.473 1.991 1.473 3.265 0 .874-.267 1.726-.801 2.557-.535.83-1.41 1.417-2.622 1.76l3.726 6.145H47.78l-3.423-5.865h-.433M64.293 22.43c.73-.787 1.094-1.839 1.094-3.157 0-1.317-.365-2.37-1.094-3.158-.729-.787-1.704-1.182-2.924-1.182s-2.195.395-2.924 1.182c-.73.788-1.093 1.84-1.093 3.158 0 1.318.364 2.37 1.093 3.157.73.789 1.703 1.182 2.924 1.182 1.22 0 2.195-.393 2.924-1.181Zm-8.447 2.384c-1.51-1.46-2.264-3.307-2.264-5.54 0-2.235.755-4.079 2.264-5.532 1.508-1.455 3.358-2.181 5.545-2.181s4.029.726 5.523 2.18c1.495 1.454 2.242 3.298 2.242 5.532s-.751 4.08-2.252 5.541c-1.503 1.461-3.344 2.192-5.524 2.192s-4.026-.73-5.534-2.192M23.209 2.31V.74h6.749v1.57h-2.34v6.91h-2.082V2.31h-2.327ZM36.46.74h2.083v8.48H36.46V5.705h-3.3V9.22h-2.084V.74h2.084v3.394h3.3V.74ZM45.426.715v1.571H42.33v1.825h2.73v1.57h-2.73V7.65h3.095v1.57h-5.178V.715h5.178ZM11.949 34.51a.516.516 0 0 0-.343.111c-.089.074-.133.179-.133.316a.46.46 0 0 0 .123.334c.083.084.191.148.323.193.133.046.28.089.444.13.162.04.324.09.484.148.161.058.308.13.44.216.133.087.24.208.323.366.083.157.123.345.123.565 0 .384-.157.711-.472.986-.314.273-.73.41-1.245.41-.514 0-.928-.123-1.243-.37-.315-.245-.472-.593-.472-1.046h1.185c.03.362.217.543.56.543.16 0 .287-.042.378-.126a.413.413 0 0 0 .137-.32.429.429 0 0 0-.124-.317.89.89 0 0 0-.322-.193 5.178 5.178 0 0 0-.443-.132 4.407 4.407 0 0 1-.486-.152 2.4 2.4 0 0 1-.44-.217.917.917 0 0 1-.321-.362 1.18 1.18 0 0 1-.124-.558c0-.423.158-.76.475-1.015.316-.254.722-.38 1.215-.38.492 0 .892.11 1.196.332.303.221.462.572.475 1.05H12.45a.605.605 0 0 0-.16-.378.462.462 0 0 0-.341-.133M18.47 34.543v-.84h3.609v.84h-1.25v3.695h-1.114v-3.695H18.47ZM26.895 36.411v-2.707h1.113v2.707c0 .271.067.48.201.626.136.146.333.22.593.22.261 0 .46-.074.6-.22.139-.146.208-.355.208-.626v-2.707h1.114v2.707c0 .4-.094.746-.283 1.036-.188.291-.428.503-.716.637-.29.134-.603.2-.942.2-.53 0-.978-.163-1.342-.49-.365-.328-.546-.788-.546-1.383M36.958 37.399h.494c.426 0 .761-.129 1.004-.388.243-.258.365-.605.365-1.04 0-.435-.122-.782-.365-1.04-.243-.259-.578-.388-1.004-.388h-.494V37.4Zm.494-3.695c.73 0 1.33.209 1.798.63.47.42.704.964.704 1.634 0 .669-.234 1.215-.704 1.638-.468.422-1.068.632-1.798.632h-1.608v-4.534h1.608ZM44.826 38.238v-4.534h1.115v4.534h-1.115ZM54.042 36.908c.22-.237.33-.554.33-.95 0-.396-.11-.712-.33-.95-.219-.236-.512-.355-.88-.355-.366 0-.66.119-.878.356-.22.236-.33.553-.33.95 0 .395.11.712.33.949.219.237.512.356.879.356s.66-.119.88-.356Zm-2.54.717c-.455-.44-.682-.995-.682-1.667 0-.671.227-1.226.681-1.663.454-.437 1.01-.656 1.668-.656.659 0 1.212.22 1.661.656.45.437.675.992.675 1.663 0 .672-.226 1.228-.678 1.667-.452.44-1.005.66-1.661.66-.655 0-1.21-.22-1.665-.66Z"/></svg>'
								})

							.col(data-show="startbox", data-show-delay="300")

								+brand({
									style: "sm",
									customClass: "rounded-2 bg-dark-light text-white",
									logo: '<svg xmlns="http://www.w3.org/2000/svg" width="73" height="29" fill="none"><path fill="currentColor" d="M.281 19.145V2.939h4.071v16.206H.282ZM8.554 17.506c-1.23-1.2-1.845-2.8-1.845-4.801 0-2.001.615-3.598 1.845-4.79 1.23-1.193 2.821-1.79 4.773-1.79 1.619 0 2.992.39 4.118 1.166 1.127.778 1.873 1.89 2.238 3.336H15.28c-.38-.77-1.004-1.154-1.868-1.154-.866 0-1.508.296-1.929.888-.42.592-.63 1.374-.63 2.344 0 .97.21 1.75.63 2.343.42.592 1.036.889 1.845.889.508 0 .905-.086 1.19-.254.286-.169.54-.47.762-.9h4.404c-.365 1.385-1.119 2.485-2.261 3.3-1.143.816-2.508 1.223-4.095 1.223-1.952 0-3.543-.6-4.773-1.8M29.706 15.105c.54-.553.81-1.354.81-2.4 0-1.047-.278-1.844-.833-2.39-.556-.546-1.215-.82-1.977-.82-.761 0-1.416.274-1.963.82-.548.546-.821 1.343-.821 2.39 0 1.046.281 1.847.844 2.4.563.555 1.226.832 1.988.832s1.412-.277 1.952-.832Zm-6.915 2.378c-1.342-1.215-2.012-2.816-2.012-4.802 0-1.985.667-3.574 2-4.767 1.333-1.192 2.984-1.789 4.951-1.789 1.968 0 3.615.597 4.94 1.79 1.325 1.192 1.988 2.78 1.988 4.766 0 1.986-.659 3.587-1.976 4.802-1.317 1.216-2.96 1.823-4.928 1.823s-3.623-.607-4.963-1.823M41.108 6.264v1.892c.841-1.354 2.182-2.031 4.023-2.031 1.524 0 2.758.492 3.703 1.477.943.986 1.415 2.325 1.415 4.017v7.526h-4.046V12.15c0-.83-.226-1.473-.678-1.928-.453-.453-1.077-.681-1.87-.681-.794 0-1.416.228-1.868.681-.453.455-.679 1.097-.679 1.928v6.995h-4.07V6.264h4.07ZM53.462 19.145V6.264h4.072v12.881h-4.072ZM57.176 4.81c-.46.446-1.023.669-1.69.669s-1.23-.223-1.69-.67a2.211 2.211 0 0 1-.69-1.65c0-.654.23-1.205.69-1.651.46-.446 1.023-.67 1.69-.67s1.23.224 1.69.67c.46.446.69.997.69 1.65 0 .654-.23 1.205-.69 1.652ZM61.736 17.506c-1.23-1.2-1.845-2.8-1.845-4.801 0-2.001.615-3.598 1.845-4.79 1.23-1.193 2.82-1.79 4.773-1.79 1.618 0 2.991.39 4.118 1.166 1.127.778 1.873 1.89 2.238 3.336h-4.404c-.381-.77-1.004-1.154-1.868-1.154-.866 0-1.508.296-1.928.888-.422.592-.632 1.374-.632 2.344 0 .97.21 1.75.632 2.343.42.592 1.035.889 1.844.889.508 0 .905-.086 1.19-.254.286-.169.54-.47.762-.9h4.404c-.365 1.385-1.119 2.485-2.261 3.3-1.143.816-2.508 1.223-4.095 1.223-1.952 0-3.543-.6-4.773-1.8M17.41 24.848v3.28h-.823v-1.85l-.786 1.85h-.612l-.785-1.85v1.85h-.824v-3.28h.944l.974 2.262.969-2.262h.944ZM22.39 24.84v.607h-1.224v.705h1.079v.608h-1.08v.761h1.225v.608h-2.048v-3.29h2.048M27.507 24.84h.824v3.289h-.824l-1.379-2.07v2.07h-.823v-3.29h.823l1.379 2.07v-2.07ZM32.406 25.432a.39.39 0 0 0-.253.08.276.276 0 0 0-.099.229c0 .1.031.18.092.24.06.061.14.108.239.14a4 4 0 0 0 .327.095c.12.029.24.064.36.107.118.041.226.094.324.156a.69.69 0 0 1 .239.264c.061.114.091.25.091.409 0 .277-.116.515-.35.712-.232.199-.539.298-.92.298-.38 0-.687-.089-.92-.267-.232-.178-.349-.43-.349-.757h.878c.022.262.16.392.414.392.118 0 .212-.03.279-.091a.296.296 0 0 0 .101-.23c0-.095-.03-.17-.092-.23a.647.647 0 0 0-.238-.14 3.687 3.687 0 0 0-.328-.096 3.44 3.44 0 0 1-.359-.11 1.833 1.833 0 0 1-.325-.156.67.67 0 0 1-.238-.261.842.842 0 0 1-.091-.405c0-.305.116-.55.35-.734.235-.184.535-.275.9-.275.364 0 .659.08.884.24.224.161.342.413.352.76h-.896a.43.43 0 0 0-.119-.273.346.346 0 0 0-.253-.097M40.338 24.848h.887l-.944 3.28h-.945l-.592-2.079-.588 2.08h-.945l-.959-3.28h.882l.588 2.36.602-2.36h.935l.578 2.321.501-2.322M45.877 24.84v.607h-1.225v.705h1.08v.608h-1.08v.761h1.225v.608h-2.049v-3.29h2.049M49.745 26.97h.8l-.4-1.168-.4 1.168Zm1.195 1.159-.188-.551h-1.215l-.187.55h-.877l1.175-3.288h1.003l1.17 3.289h-.881ZM55.257 25.456v.79h.51a.403.403 0 0 0 .297-.108.38.38 0 0 0 .109-.283.388.388 0 0 0-.11-.287.393.393 0 0 0-.295-.112h-.511Zm0 1.397v1.276h-.823v-3.28h1.334c.392 0 .697.097.915.293a.922.922 0 0 1 .328.711c0 .19-.06.375-.178.556-.119.18-.313.308-.583.384l.829 1.336h-.964l-.762-1.276h-.096"/></svg>'
								})

							.col(data-show="startbox", data-show-delay="400")

								+brand({
									style: "sm",
									customClass: "rounded-2 bg-dark-light text-white",
									logo: '<svg xmlns="http://www.w3.org/2000/svg" width="77" height="63" fill="none"><path fill="currentColor" d="M1.502 61.844h.486c.418 0 .746-.127.985-.382s.358-.597.358-1.026c0-.43-.12-.772-.358-1.027-.239-.255-.567-.383-.985-.383h-.486v2.818Zm.486-3.646c.717 0 1.305.206 1.766.621.46.415.69.953.69 1.614 0 .66-.23 1.198-.69 1.615-.46.417-1.05.625-1.766.625H.408v-4.475h1.58ZM11.948 58.185v.83h-1.625v.962h1.433v.83h-1.433v1.038h1.625v.828h-2.72v-4.488h2.72M18.507 58.996a.505.505 0 0 0-.336.108c-.088.072-.131.176-.131.313 0 .136.04.245.12.328a.797.797 0 0 0 .317.191c.131.044.276.087.436.127.16.04.319.09.476.147.158.057.303.129.433.213.129.085.235.206.316.36.08.157.122.343.122.559 0 .378-.155.701-.464.973-.31.269-.716.404-1.223.404-.505 0-.912-.122-1.221-.364-.31-.242-.463-.586-.463-1.033h1.164c.03.358.212.536.55.536a.524.524 0 0 0 .37-.124.409.409 0 0 0 .135-.316.424.424 0 0 0-.121-.313.872.872 0 0 0-.317-.19 5.085 5.085 0 0 0-.435-.131c-.16-.04-.319-.09-.477-.15a2.357 2.357 0 0 1-.432-.214.906.906 0 0 1-.316-.357 1.177 1.177 0 0 1-.121-.55c0-.418.155-.752.466-1.002.311-.25.71-.376 1.193-.376.484 0 .876.11 1.175.328.297.219.454.564.466 1.036h-1.19a.602.602 0 0 0-.157-.373.457.457 0 0 0-.335-.13M25.217 62.673V58.2h1.094v4.474h-1.094ZM31.77 62.065c-.446-.431-.668-.978-.668-1.642 0-.662.222-1.209.667-1.641.446-.431.992-.647 1.635-.647.5 0 .943.132 1.331.396.388.263.66.628.813 1.096h-1.306c-.17-.327-.443-.491-.818-.491-.376 0-.67.117-.886.35-.216.234-.324.547-.324.937 0 .392.108.705.324.938.215.234.504.35.866.35.261 0 .473-.064.637-.194a.935.935 0 0 0 .33-.52h-1.267v-.828h2.444v.829c-.082.408-.306.788-.672 1.14-.175.17-.391.308-.65.415-.257.106-.532.16-.822.16-.643 0-1.189-.216-1.635-.648M43.27 58.185h1.093v4.488H43.27l-1.83-2.824v2.824h-1.094v-4.488h1.095l1.83 2.824v-2.824ZM58.257 58.199h1.095v4.474h-1.095v-1.855h-1.733v1.855H55.43V58.2h1.094v1.791h1.733v-1.791ZM64.387 60.87V58.2h1.094v2.67c0 .268.065.474.198.619.132.143.325.216.581.216.256 0 .453-.073.59-.216.136-.145.204-.351.204-.619V58.2h1.094v2.67c0 .395-.093.736-.278 1.023a1.67 1.67 0 0 1-.705.628 2.155 2.155 0 0 1-.924.198c-.52 0-.96-.161-1.317-.485-.358-.322-.537-.778-.537-1.364ZM74.272 61.845h.825a.533.533 0 0 0 .37-.134.473.473 0 0 0 .147-.37.503.503 0 0 0-.14-.375.496.496 0 0 0-.365-.141h-.837v1.02Zm0-2.818v.97h.716c.157 0 .285-.04.38-.122.096-.08.144-.2.144-.36 0-.16-.048-.28-.144-.363a.557.557 0 0 0-.38-.125h-.716Zm-1.094-.828h1.95c.457 0 .82.11 1.09.331.272.22.407.5.407.842 0 .505-.297.847-.89 1.026.304.042.545.167.724.377.179.207.269.451.269.732 0 .357-.132.64-.394.85-.262.212-.628.316-1.097.316h-2.06V58.2M37.262 29.966c.4-.322.455-.616.39-1.085-.294-1.03-.545-2.141-.774-3.189-1.477-7.093-2.073-2.818-3.16 1.945-2.405 6.044-.415 6.868 3.544 2.329Zm9.594-8.372c.715-.69 1.484-1.188 2.372-1.511.242-.139.585-.167.88-.112.427.017.825.182 1.334.246-.018.423-.371.663-.658.883-1.558 1.419-2.847 3.04-4.301 4.567-.27.285-.39.598-.28.985.166.579.221 1.258.388 1.837.065.47.175.855-.289 1.196-.287.22-.195.543-.065.992.185-.33.195-.543.287-.707.407-.048.5.762.12 1.149-.047.082-.11.1-.093.165-.065.018-.11.101-.204.267.462 1.608.96 3.344 1.375 5.035.13.45.176.855.24 1.324.046 1.379.544 2.627 1.108 3.858.491.975.833 1.92 1.193 2.93.203.71.47 1.397.675 2.105.147.515.23 1.048.33 1.645l-.749-.412a.918.918 0 0 1-.12.313c-.046.083-.01.211.027.34-.5.212-1.222.14-1 .912-.418.257-.863.175-1.178.056-.48-.21-.944-.356-1.314-.668-1.314-1.158-2.34-2.534-3.19-4.03-.075-.258-.297-.543.036-.847.064-.018-.046-.404-.101-.597l-.833-1.433c-1.619-2.46-2.607-5.171-3.614-7.945-.157-.303-.314-.607-.49-.974-.222.203-.463.342-.62.525-.91 1.233-2.16 2.007-3.376 2.91a51.58 51.58 0 0 1-3.048 1.845c-.991.7-1.474 1.95-1.753 2.935-.548 2.244-1.495 4.323-2.08 6.438-.185.33-.343.515-.714.69-1.455.554.795 1.305-.696 1.242-3.159 1.458-2.323-1.007-3.953-2.282.65-1.646 1.364-3.311 2.097-4.912.4-.81.817-1.555 1.235-2.3.649-1.16-.093.165.436-1.169-.25-.137-.482-.21-.732-.348-.546-.193-1.027-.402-1.573-.595-.417-.229-.639-.513-.639-1 .398-.323.843-.24 1.306-.095.676.156 1.399.228 2.121.3.149.027.454-.13.547-.295.491-.975.9-1.996 1.392-2.97.074-.231.084-.443.177-.608 1.196-2.43 1.764-5.096 2.58-7.626.948-3.053 1.812-6.152 2.76-9.205.417-1.234.511-2.373.244-3.55-.278-1.452-.405-2.876-.535-4.3-.08-2.483.246-5.01.674-7.43.185-.818.362-.938 1.131-.95C36.77.396 37.798.31 38.844.29c.343-.028.704.008 1.038.19.666.368 1.332.734 1.952 1.184.288.266.527.615.685.918.73 1.322 1.007 2.775 1.155 4.263.276 1.94.533 3.814.745 5.772.055.193.064.468.139.726.405 1.415.469 2.858.403 4.338-.094 1.14.155 2.252.274 3.401.064.47.194.919.324 1.37l.166.091c.399-.322.797-.644 1.131-.949"/></svg>'
								})

							.col(data-show="startbox", data-show-delay="500")

								+brand({
									style: "sm",
									customClass: "rounded-2 bg-dark-light text-white",
									logo: '<svg xmlns="http://www.w3.org/2000/svg" width="72" height="31" fill="none"><path fill="currentColor" fill-rule="evenodd" d="M5.717 21.638a.526.526 0 0 0-.112-.176.856.856 0 0 1-.085-.115c.034-.056.073-.098.11-.136.037-.04.071-.077.091-.12.028-.13.044-.266.059-.401.015-.138.03-.276.06-.406l.035-.316c.186-.372.253-.716.209-1.092a.426.426 0 0 1 .044-.108.69.69 0 0 0 .077-.208l.014-.023.005-.006c.035-.054.08-.122.061-.172-.074-.115 0-.259.166-.458a.967.967 0 0 0 .123-.259c.02-.056.04-.113.07-.17.117-.306.215-.612.312-.914.103-.322.204-.64.328-.95-.05-.405.296-1.168.647-1.944.602-1.327 1.218-2.688-.11-2.345-.125.085-.304.14-.45.167l-.225.096c-.988.423-1.444.617-1.75.95-.262.285-.414.671-.697 1.388l-.149.378a7.533 7.533 0 0 1-.2.717l-.036.115a.742.742 0 0 0-.033.142.708.708 0 0 1-.067.23c-.162.34-.287.681-.413 1.023-.223.608-.448 1.22-.886 1.841-.047.021-.06.044-.08.08-.005.01-.011.022-.02.034l-.135.15c-.245.27-.358.394-.498.447-.122.046-.264.038-.528.023l-.087-.005c-.04 0-.078-.008-.116-.015-.072-.014-.14-.027-.2.01-.323.053-.476-.122-.482-.325.003-.288.035-.575.128-.891.407-1.32.934-2.697 1.488-4.043.36-.712.127-.791-.158-.887-.24-.082-.518-.177-.502-.68a4.24 4.24 0 0 0-.006-.09c-.012-.15-.025-.314.038-.456.061-.168.1-.33.14-.488.04-.166.08-.327.142-.489.084-.23.103-.401.026-.49.227-.367.426-.71.65-1.096l.06-.103c.274.128.583.065.95-.01.148-.03.304-.061.47-.083.385-.082.816-.593.913-.94.37-.928.722-1.531 1.177-2.31.134-.23.277-.476.432-.749.3-.535.67-1.084 1.042-1.636.165-.244.33-.488.49-.733.137-.2.287-.255.485-.222.119.016.222.033.326.05.094.014.189.03.297.045.277.09.287.263.171.521-.093.192-.196.374-.296.55-.138.244-.27.476-.362.709-.152.31-.3.595-.45.88l-.212.407c-1.97 2.68-.168 2.534 2.078 1.762.035-.068.074-.117.11-.162a.523.523 0 0 0 .098-.152c.264-.624.49-1.054.773-1.591l.305-.583c.032-.089.081-.185.132-.284.082-.157.166-.32.182-.461.03-.278.2-.522.372-.77.06-.086.12-.172.174-.26.141-.229.253-.458.314-.745.017-.154.124-.358.224-.548a7.4 7.4 0 0 0 .087-.167c.134-.201.274-.402.414-.605.22-.315.44-.635.653-.965l.472.007.707.01c.603.01 1.134.162 1.565.429.405.236.597.585.42 1.13-.064.121-.114.243-.164.364-.09.22-.179.435-.35.638-.698 1.084-1.226 2.201-1.722 3.289-.561 1.175.723.896 1.519.723l.16-.034c.148-.028.324-.053.362.12-.54.076-1.14.205-1.634.312l-.043.009a2.86 2.86 0 0 0-.748.248c-.335.167-.511.453-.636.797.069 0 .157.009.25.017.099.01.203.019.293.02a.701.701 0 0 0 .325-.082c.101-.006.202-.018.303-.03.25-.028.498-.056.74-.011.14.03.46.007.667-.048.233-.025.433-.022.69-.018h.003a4.796 4.796 0 0 0-.057-.113c-.05-.097-.098-.188-.128-.293-.009-.1.039-.212.096-.347.026-.061.054-.127.08-.2.057.002.144.004.201.004.033-.027.033-.027.064-.055a1.425 1.425 0 0 0-.107-.142.849.849 0 0 1-.142-.208c.372.144.653.394.735.773a.31.31 0 0 1-.224.07c-.252.456.09.463.461.47h.005c-.304.215-.51.182-.715.15-.09-.015-.18-.03-.278-.022.141.089.236.16.343.241l.11.083a1.55 1.55 0 0 1-.127.025c-.169.03-.338.06-.458.312.08.017.17.026.274.035.08.008.168.016.265.03-.11.03-.205.067-.287.1-.073.029-.136.054-.191.066l-.019.004c-.115.027-.254.058-.38.221.07.001.138.024.212.049.047.015.097.031.15.044-.712.19-1.424.381-2.146.658l-.442.124h-.001c-.352.097-.72.198-1.074.314a1.2 1.2 0 0 0-.828.708c-.287.514-.432 1.03-.576 1.546v.002c-.032.092-.062.184-.091.276-.091.281-.182.562-.322.842-.146.34-.243.679-.338 1.014a8.698 8.698 0 0 1-.273.85l-.002.007c-.18.572-.359 1.144-.595 1.714-.003.036-.04.071-.083.113-.027.026-.056.054-.082.087-.003.023-.016.051-.029.079-.018.039-.034.076-.02.093.107.338-.054.733-.205 1.105-.03.073-.06.145-.086.216-.006.049-.02.096-.032.139a.605.605 0 0 0-.023.092c.033.32-.13.619-.292.914-.043.078-.085.155-.124.233-.032.114-.164.226-.307.347a3.11 3.11 0 0 0-.214.192 1.347 1.347 0 0 0-.38.052c-.086-.002-.172-.003-.233.025-.206.17-.414.231-.622.293-.209.062-.418.124-.624.294-.08.044-.096.002-.11-.036-.013-.034-.025-.066-.085-.025-.035.032-.067.063-.094.09-.046.047-.08.08-.098.08-.07-.002-.115-.023-.166-.047a.647.647 0 0 0-.111-.044 50.25 50.25 0 0 1-.222.197l-.034.03c-.393.167-.419.138-.505-.123ZM9.441 9.442c-.039-.006-.076-.017-.114-.027-.154-.044-.315-.09-.621.16.115-.019.21-.016.294-.014.154.005.278.008.441-.119Zm.08-.46c-.284-.034-.61.049-.996.157-.211.084-.419.138-.65.135a.878.878 0 0 0-.568.193c.723-.017 1.453-.122 2.342-.34l-.038-.042a8.474 8.474 0 0 1-.09-.103Zm-1.881.087a2.022 2.022 0 0 0-.537.164c.166.06.37.034.537-.164Zm-.31-.581c-.175.025-.325.08-.345.254.033 0 .062.005.086.009.04.006.067.01.087-.007.203-.082.391-.164.575-.244.251-.11.494-.216.754-.312.201-.026.372-.023.569-.02h.009c.001-.014.018-.036.035-.057.017-.022.034-.044.035-.058a2.548 2.548 0 0 0-.357.073c-.1.025-.196.05-.291.062-.192.054-.382.101-.573.148-.194.048-.389.096-.584.152Zm-3.482.753c-.354.08-.454.195-.639.567.07 0 .144.015.221.03.084.017.172.034.261.035.163.03.187.112.225.247l.005.016c-.076.031-.15.053-.225.075-.19.056-.378.112-.567.317.351-.053.616-.106.913-.188.217-.4.403-.773.627-1.231a4.43 4.43 0 0 1-.821.132Z" clip-rule="evenodd"/><path fill="#fff" d="M18.045 7.31a.463.463 0 0 0 .015-.014l-.007.057a1.007 1.007 0 0 0-.008-.044ZM21.34 7.087c-.016.02-.03.037-.046.054a.623.623 0 0 0-.127.203.209.209 0 0 1-.074.143 3.367 3.367 0 0 0-.233.24h-.001l-.001.002c-.029.03-.059.064-.09.098-.068.087-.31.198-.458.224-.054-.03-.147.027-.21.084-.186.112-.298.081-.406.022-.08-.059-.137-.06-.223-.061a1.163 1.163 0 0 1-.314-.033c.016-.014.033-.036.05-.058.017-.021.033-.042.049-.056.006-.052.032-.103.06-.16.02-.038.042-.08.059-.126.062-.122.12-.202.198-.31l.044-.062c.004-.034.038-.067.066-.095.02-.019.036-.035.037-.047.013-.118.09-.22.172-.328.04-.05.079-.103.113-.158l.2-.256c.064-.057.129-.114.186-.113.061-.028.118-.027.144.002-.007.058.051.06.112.03a.902.902 0 0 0 .036-.018c.039-.02.063-.031.082-.01.09.05.201.08.3.107l.026.007.035.01a.83.83 0 0 1 .412.437.851.851 0 0 0-.12.136c-.026.035-.05.066-.079.092Z"/><path fill="#fff" fill-rule="evenodd" d="m18.344 10.184.032-.028a.743.743 0 0 1 .213-.176 2.83 2.83 0 0 0 .04-.024c.114-.018.286-.094.473-.177.337-.149.721-.318.894-.204.04.063.14.136.238.209.082.06.163.12.209.172.099.146.105.348-.013.635-.124.214-.256.419-.4.642h-.001a28.73 28.73 0 0 0-.335.527c-.027.062-.054.119-.08.173a3.351 3.351 0 0 0-.112.257c-.05.09-.1.19-.154.293-.099.193-.203.398-.316.565-.072.16.029.011.147-.165.137-.204.298-.443.25-.29a.492.492 0 0 1-.09.193 1.525 1.525 0 0 0-.022.036c-.06.118-.108.206-.146.277-.148.275-.154.286-.223.697-.012.11-.061.396-.117.72-.088.518-.194 1.135-.194 1.294.005.17.078.28.145.379l.037.056c.036.02.076.047.118.076.082.056.177.12.287.16.11.099.231.076.37.051l.087-.015c1.607-.535 1.827-.862 2.201-1.418.204-.303.454-.675.998-1.184.071-.088.145-.174.22-.26.24-.278.482-.56.63-.91.004-.028.004-.028.106-.171.044.115.014.246-.014.37-.027.12-.052.232-.004.311.22-.556.444-1.107.674-1.65.047-.114.098-.223.15-.335.08-.17.163-.346.238-.554.235-.458.456-.932.678-1.41.195-.417.39-.838.598-1.251.185-.413.455-.877.697-1.294l.03-.05c.156-.113.3-.112.43.006l.642.442.026.03c.372.525.561 1.162.55 2.026.01.433-.073.922-.243 1.41-.25.687-.534 1.432-.874 2.148-.149.304-.303.66-.458 1.015l-.233.531c-.64 1.606.303 1.419.558.932.05-.101.173-.268.306-.447.17-.229.354-.477.42-.638l1.168-1.943c.185-.372.358-.628.62-.913.086-.087.174-.182.263-.279a6.48 6.48 0 0 1 .454-.46c.191-.17.465-.31.667-.306l.489.007c.244-.049.436.145.627.337l.05.05c.133.087.223.32.226.55 0 .076.005.155.008.234.008.161.016.322 0 .458l.023.836-.09 1.065c-.04.56.107.53.682.417.165-.033.366-.073.608-.107.351-.053.885-.19 1.46-.7.161-.143.32-.104.452-.017-.167-.783-.315-1.973-.274-2.345.034-.03.044-.06.056-.1.01-.034.023-.075.056-.128-.01-.174.068-.345.202-.516.005-.011.01-.024.018-.038.045-.093.116-.239.055-.364.05-.071.09-.157.127-.242.04-.087.078-.173.13-.245.03-.058.058-.106.087-.155.042-.07.084-.142.13-.245.021-.027.04-.055.059-.083a.837.837 0 0 1 .142-.173l.196-.318.12-.196c.08-.128.173-.237.265-.343.073-.084.145-.167.205-.255.028-.045.052-.054.09-.07l.015-.006a.469.469 0 0 0 .214-.209c.1-.112.164-.17.216-.111.191.09.325.178.478.353 0 0 .029 0 .054.03.247.12.588 1.19.575 1.565v.001c-.01.087-.02.172.032.23v.006c-.02.171-.04.341-.116.512l-.041.115a3.33 3.33 0 0 1-.272.63l-.016.025-.01.017c-.056.092-.098.161-.201.185a.882.882 0 0 0-.262.285.45.45 0 0 1-.057.083c-.048.062-.103.132-.095.23 0 0-.006.059-.038.087a3.775 3.775 0 0 0-.28.458c-.148.285-.205.803-.146 1.034.042.144.168.29.245.377l.001.001c.182.173.321.57.455.949.117.329.228.645.359.794.07.063.092.184.114.3.018.1.036.197.083.252.13.439.648.212 1.21-.033.253-.11.515-.225.755-.284l.013-.009c.462-.307.924-.614 1.39-.95.342-.225.687-.479 1.003-.734.221-.17.416-.368.61-.567.11-.096.22-.206.33-.32.095-.223.197-.467.308-.738.041-.102.074-.197.107-.293.032-.091.063-.182.101-.28.039-.152.11-.303.177-.442l.06-.13c.121-.316.243-.632.361-.917.061-.18.175-.394.29-.615.294-.555.604-1.142.12-1.252-.049-.008-.096-.013-.142-.017-.141-.013-.27-.026-.387-.136a4.48 4.48 0 0 0-.236-.159c-.083-.053-.165-.105-.246-.165l-.01-.012-.016-.017c-.049-.051-.107-.112-.117-.233l.015-.008c.055-.025.108-.049.134-.048.207-.04.405-.08.604-.12l.603-.12c.266-.054.557-.079.847-.104a.43.43 0 0 0 .313-.225 3.16 3.16 0 0 1 .144-.252c.083-.136.168-.274.22-.434.145-.225.276-.455.405-.684.183-.323.365-.644.584-.945.34-.455.672-.854 1.085-1.195a1.91 1.91 0 0 1 .213-.215l.013-.011c.125-.085.246-.14.387-.11.101.037.208.02.323.002.072-.011.148-.023.226-.022.028 0 .028 0 .06-.028.412-.08.537.094.617.413.112.29.137.579.098.924-.02.17-.007.31.005.452v.01a.943.943 0 0 1-.044.403c-.045.143-.09.287-.137.459l-.142.39-.108.298v.003a.639.639 0 0 1-.055.227c.08.059.167.06.281.062l.481-.032c.2-.012.4-.025.593-.039l1.495.024c.107.002.211.026.322.05.069.016.14.032.215.044a2.944 2.944 0 0 0-.066.087.6.6 0 0 1-.07.084.987.987 0 0 1-.216.142c-.111.043-.23.094-.35.145-.107.046-.214.092-.315.132-.004.028-.032.028-.032.028-.124.01-.253.036-.386.063-.21.043-.426.087-.636.066a2.214 2.214 0 0 0-.613.077c-.08.037-.168.048-.253.06-.045.005-.09.01-.13.02l-.336.039-.336.039c-.118.026-.185.11-.256.226-.016.014-.024.028-.033.042a.167.167 0 0 1-.034.043c-.267.572-.57 1.123-.873 1.672-.213.385-.425.77-.623 1.16-.07.114-.14.228-.18.314a5.03 5.03 0 0 0-.441.858 4.08 4.08 0 0 1-.457.743 1.14 1.14 0 0 0-.132.3c-.04.125-.082.25-.173.358-.396.714-1.014 2.897-1.079 3.99-.022.462.044.895.14 1.329a.692.692 0 0 0 .139.239c.028.036.056.072.08.11.013 0 .024.006.038.012a.18.18 0 0 0 .075.02c.03 0 .062 0 .098.002.275.007.706.018.953-.131a39.238 39.238 0 0 0 1.313-.93c.48-.426 1.576-1.476 1.928-2.047.152-.236.281-.506.409-.774.135-.284.27-.565.428-.8.148-.286.506-.915.685-1.229l.007.002.012.001a7.86 7.86 0 0 1 .42-.832c.106-.171.106-.171.106-.43-.153.083-.246.14-.323.311a4.85 4.85 0 0 1-.428.744c.023-.205.111-.355.201-.508.024-.04.048-.08.07-.122.289-.515.602-1 .97-1.456.37-.484.764-.91 1.211-1.308.45-.426.923-.792 1.416-1.073.043-.02.082-.036.118-.051.067-.028.125-.053.186-.089.15-.056.297-.082.367.064.042.048.097.061.146.073.04.01.076.02.1.045.047.036.071.09.094.141.016.035.031.068.052.092.118.064.382.158.664.257.37.131.772.272.908.372.077.058.12.17.165.282l.003.01c.027.06.052.122.077.184.082.206.163.408.303.543.042.047.06.133.075.21l.01.05c.02.346.013.664-.115 1.037-.102.4-.317.773-.556 1.115l-.09.127c-.105.15-.207.293-.294.472-.066.166-.17.312-.28.47l-.072.102a.96.96 0 0 1-.566.424.949.949 0 0 1-.556.077.378.378 0 0 0-.07-.016c-.059-.01-.115-.018-.147-.102.003-.029-.025-.03-.025-.03-.151.017-.253-.087-.35-.186-.052-.054-.103-.107-.16-.138a.28.28 0 0 1-.042-.146c.054-.088.036-.142.016-.202-.006-.018-.012-.036-.016-.056a13.68 13.68 0 0 1-.067-.179 5.032 5.032 0 0 0-.226-.546c-.02-.088-.102-.118-.198-.033-.019.059-.051.113-.085.168-.047.08-.096.16-.108.262-.006.058-.07.114-.13.142l-.021.016c-.032.025-.074.057-.082.126-.041.115-.073.144-.163.171-.056.025-.063.052-.1.188l-.011.041h.002c.056 0 .083.001.109.03l-.004.03-.048-.001-.153-.003a.732.732 0 0 0 .054-.224l.001-.007h-.057l-.085.33v.005l-.07.268c.022.012.038.024.053.033.022.016.038.027.056.027.006.202-.013.374-.036.576-.022.2.016.376.058.52.037.058.095.246.153.434.058.189.116.377.153.436l.066.075c.343.395.75.861 1.179.895.14.032.99-.1 1.137-.126.712-.192 1.416-.556 2.103-1.036.326-.225.644-.472.964-.72.2-.157.402-.314.608-.466l.096-.085c.096-.098.191-.19.287-.28.098-.094.196-.187.295-.288a8.39 8.39 0 0 0 .974-.993c.037-.052.074-.103.114-.15.039-.193.086-.371.248-.769.09-.309.146-.52.19-.686.114-.436.15-.57.531-1.378.03-.115.085-.211.142-.31.042-.073.086-.149.12-.235l.084-.165c.225-.448.43-.856.681-1.263.157-.372.278-.43.559-.367.201.003.453.064.706.127.17.031.335.091.543.296.114.269.278.48.453.706.07.09.143.184.214.283.207.466.226.812-.008 1.357-.102.282-.156.32-.21.358-.056.04-.11.078-.219.384-.254.602-.58 1.137-.897 1.659-.318.52-.626 1.028-.846 1.572-.585 1.375.889.043 1.059-.444.162-.43 1.396-2.459 1.636-2.8a8.61 8.61 0 0 0 .58-.8c.198-.227.398-.483.54-.713a.757.757 0 0 1 .498-.337c.105.002.203-.004.297-.01.087-.006.17-.011.252-.01.346.004.518.266.648.644a2.071 2.071 0 0 1-.009.083l-.004.032c.007.166.02.339.032.515.015.22.031.444.038.67.012.28-.027.575-.065.863-.012.097-.025.193-.035.287-.01.085-.016.17-.022.256a3.508 3.508 0 0 1-.065.52c.085.056.1.123.107.157.004.02.006.028.018.018.032-.028.096-.02.16-.012.063.009.127.017.16-.012a.335.335 0 0 1 .065-.07c.023-.022.047-.043.065-.071.125-.085.25-.17.38-.312.103-.143.19-.141.288.005a.292.292 0 0 1-.14.228c-.031.027-.064.08-.098.134l-.005.008c-.038.087-.106.172-.195.2l-.048.042a4.836 4.836 0 0 0-.048.042.379.379 0 0 1-.038.029c-.028.018-.055.037-.057.056-.016.014-.031.021-.046.028-.016.007-.031.014-.047.03-.128.112-.218.14-.333.138a.618.618 0 0 0-.271.112c-.093.055-.18.054-.23-.005a1.571 1.571 0 0 0-.343-.15 2.234 2.234 0 0 1-.236-.09c-.334-.09-.558-.412-.656-.816-.115-.522-.051-1.097.096-1.642.058-.172.089-.332.12-.487.014-.078.029-.155.047-.232l.1-.36.044-.157c.07-.113.08-.2.064-.316a.123.123 0 0 1-.023-.003c-.028-.006-.062-.012-.066.031a.725.725 0 0 0-.131.142c-.09.145-.19.29-.296.441v.002c-.062.087-.124.177-.187.27a1.51 1.51 0 0 0-.23.517c.01.08-.033.145-.073.206a.598.598 0 0 0-.046.08c-.313.485-.595.942-.829 1.486-.114.243-.247.464-.382.69-.088.147-.177.296-.263.453-.115.212-.237.417-.358.62-.222.374-.441.745-.618 1.153-.049.122-.12.255-.193.391a7.648 7.648 0 0 0-.14.267c-.076.171-.95 1.542-1.138 1.683-.004.038-.044.063-.088.092-.024.015-.05.03-.072.05-.4.484-.799.448-1.245.326-.064.056-.114 0-.164-.056l-.003-.003c-.447-.122-.628-.558-.68-1.135-.03-.487.027-1.001.08-1.487l.002-.011c.112-.748.224-1.496.366-2.243l.02-.076a.595.595 0 0 1-.047.047c-.195.2-.358.37-.498.598a3.614 3.614 0 0 1-.161.168c-.057.058-.115.115-.165.172a.604.604 0 0 0-.07.086c-.018.024-.039.053-.065.085.047-.014.086-.028.125-.043l.115-.04a.397.397 0 0 1-.13.19c-.045.044-.089.086-.11.154l.02.029c.01.019.02.038.057.058-.1.139-.193.222-.316.332l-.01.009c-.189.142-.38.312-.544.481-.283.278-.59.5-.895.72l-.022.016-.138.104c-.1.076-.194.148-.3.206-.06.042-.122.077-.182.111a2.701 2.701 0 0 0-.189.115 5.393 5.393 0 0 0-.55.28c-.307.168-.638.306-.96.36l-.135.041-.052.016-.082.025c-.358.11-.71.162-1.057.185-.41.052-2.07-.29-2.428-.44-.696-.303-.965-.645-1.217-.966-.096-.123-.19-.242-.305-.355-.157-.147-.274-.379-.335-.611-.096-.352-.088-.73-.07-1.13l-.14.267c-.117.227-.236.454-.347.681-.216.352-.43.677-.643 1.002l-.297.455c-.138.2-1.682 1.906-1.838 2.018-.2.126-.479.373-.753.616-.277.246-.55.488-.737.601-.246.141-1.143.444-1.348.47-.377.023-.782.045-1.117-.046-.595-.096-1.386-1.002-1.61-1.582a5.672 5.672 0 0 0-.1-.212c-.088-.182-.176-.362-.215-.57-.073-.377-.092-.982-.072-1.415.116-1.035.242-1.69.422-2.282-.105.083-.199.165-.292.247l-.021.019-.132.102-.53.407-.123.11-.003.002-.001.002c-.211.104-.416.256-.624.41-.123.09-.247.182-.374.265-.09.081-.207.16-.324.24l-.021.015c-.203.138-.432.23-.651.318-.452.181-.863.346-.92.869l.009.111c.017.187.026.287.015.385-.013.115-.054.226-.143.467l-.028.076-.04.111a.213.213 0 0 1-.013.115.213.213 0 0 0-.013.115c-.067.086-.041.116-.041.116-.08.101-.105.255-.128.4-.016.096-.03.19-.062.259a.392.392 0 0 1-.16.141.172.172 0 0 1-.046.029.178.178 0 0 0-.047.028c-.037.048-.076.095-.116.143-.104.125-.21.254-.29.399-.178.315-1.044 1.108-1.3 1.335l-.056.065c-.071.083-.13.152-.207.219-.105.135-.295.214-.46.283a3.862 3.862 0 0 0-.124.054.197.197 0 0 1-.034.023c-.016.01-.028.016-.03.034a1.02 1.02 0 0 1-.582.308c-.03.014-.046.028-.062.042-.016.015-.032.029-.062.043.133-.17.263-.314.393-.458.067-.074.134-.148.201-.226-.115-.001-.115-.001-.392.168l.009-.087c-.055-.03-.055-.03-.077-.087-.024.021-.052.034-.079.047-.044.02-.086.04-.11.094-.125.09-.244.125-.379.164l-.103.03c-.06.028-.06.028-.198-.03.017-.029.026-.05.036-.071.01-.023.02-.044.038-.074a.324.324 0 0 0-.12.027c-.037.014-.074.027-.116.027a.18.18 0 0 1-.154.085c-.246.14-.354.081-.444-.15a3.366 3.366 0 0 1-.022-.115c-.024-.133-.048-.259-.127-.35-.128-.202-.142-.445-.158-.713a12.251 12.251 0 0 0-.008-.126c.013-.115.064-.316.138-.458.128-.375.336-.688.604-1.03a11.263 11.263 0 0 1 1.687-1.703c1.161-.955 1.074-1.26.844-2.058l-.027-.092c-.091-.619-.3-1.088-.513-1.571l-.048-.11c-.008-.058-.031-.11-.055-.16a.565.565 0 0 1-.054-.159 1.087 1.087 0 0 1-.079-.198c-.138.207-.346.47-.388.509-1.139.62-1.765.683-2.52.76-.098.01-.2.02-.304.032-.638.14-.799.438-1.04.886-.037.07-.077.143-.12.22l-.141.23c-.093.255-.244.462-.387.657-.049.068-.097.133-.14.199-.022.02-.044.041-.066.064-.043.044-.086.088-.127.106l-.325.34c-.138.2-.336.43-.553.569l-.227.228-.317.254a.4.4 0 0 1-.258-.004 3.873 3.873 0 0 1-.044-.033c-.072-.054-.156-.118-.225-.144a.8.8 0 0 1 0-.26c-.028-.259-.089-.491-.344-.524a.725.725 0 0 1-.203-.196l-.055-.067a.77.77 0 0 0-.31-.322c-.24-.177-.246-.638.026-1.008.144-.258.304-.399.49-.512.188-.142.402-.254.613-.337.217-.132.416-.185.623-.24.145-.038.294-.078.457-.147.214-.111.38-.311.53-.625.285-.747.637-1.836.81-2.612l.11-.98a.345.345 0 0 0-.01-.171c-.013-.145-.15-.204-.25-.09-.06.027-.091.056-.13.14l-.002.005c-.236.312-.472.624-.654.967-.234.37-.464.752-.694 1.132-.283.47-.565.94-.853 1.38l-.018.029c-.377.588-.72 1.123-1.044 1.744-.248.465-.607.93-.973 1.402-.442.57-.893 1.153-1.166 1.764a5.198 5.198 0 0 0-.05.096c-.087.166-.168.323-.324.418-.15.055-.234.284-.253.458-.023.2-.077.43-.154.602a1.46 1.46 0 0 1-.204.286c-.147.15-.225.267-.299.378a4.163 4.163 0 0 1-.072.106c-.368.714-.679 1.431-.823 2.206a13.01 13.01 0 0 0-.046.26c-.046.258-.09.517-.184.775-.058.26-.196.458-.406.542a.886.886 0 0 0-.394.427.35.35 0 0 0-.012.011l-.025.026c-.042.043-.102.104-.123.104-.056-.001-.097.084-.137.167a.722.722 0 0 1-.067.118H22c-.47.08-.717-.27-.829-.82-.112-.55-.101-1.155-.066-1.73.097-1.383.331-2.705.658-4.085.09-.411.213-.838.33-1.244v-.002c.039-.133.077-.263.112-.39.215-.891.516-1.78.839-2.612.122-.337.247-.672.373-1.005l-.035.061c-.505.892-1.03 1.818-1.777 2.22-.33.37-2.477 2.066-3.687 1.558-.285.094-.528-.066-.784-.233a2.557 2.557 0 0 0-.375-.217c-.275-.12-.537-.354-.764-.646-.1-.376-.2-.782-.158-1.156-.038-.173-.016-.375 0-.519.057-.155.091-.376.125-.593.04-.262.08-.517.157-.642.014-.044.03-.089.048-.134.037-.101.077-.206.09-.325.02-.01.03-.032.04-.059.02-.053.048-.122.184-.139.016 0 .036-.037.057-.074a.294.294 0 0 1 .045-.07c.083-.098.136-.191.19-.284.054-.093.108-.186.191-.286 0 0-.671.595-.262.025.164-.32.42-.656.652-.96.183-.24.351-.461.447-.638.006-.057.074-.142.074-.142a5.48 5.48 0 0 1 .044-.07c.087-.136.155-.244.126-.418-.016-.116.025-.231.13-.401a.572.572 0 0 1 .024.013c.04.023.07.04.146.018Zm33.845 4.324-.065.131c-.105.576-.096 1.114.102 1.6.032.08.078.146.128.218.022.032.045.065.067.1a.412.412 0 0 0 .189.12c-.002.016.008.013.027.009.015-.004.035-.009.06-.008a4.928 4.928 0 0 0-.057-.111c-.051-.098-.099-.19-.13-.295a1.125 1.125 0 0 1-.055-.246c-.013-.087-.025-.17-.062-.246-.029-.001-.06.027-.06.027.01.046.02.084.031.122.01.034.02.069.03.11a.212.212 0 0 0 .013.089c.015.049.03.099-.014.17a.142.142 0 0 0-.03-.024c-.013-.01-.023-.016-.021-.034-.111-.288-.127-.66-.143-1.032V15.2c-.017-.02-.009-.039 0-.057a.093.093 0 0 0 .009-.03c.036-.321.07-.627.153-.94-.078.16-.147.293-.172.335Zm-23.653 2.146c.038-.346.176-.546.358-.63.162-.113.315-.14.478-.17.12-.022.247-.046.388-.105.105-.17-.06.288-.426.715a1.246 1.246 0 0 1-.412.34c-.032.028-.07.042-.107.056-.037.014-.075.027-.107.056-.086 0-.16-.119-.172-.262Zm6.348 3.498c-.179.056-.37.226-.48.426a1.137 1.137 0 0 1-.329.37c-.127.113-.255.226-.33.37a3.648 3.648 0 0 0-.036.149c-.026.11-.05.21-.1.309-.078.172-.061.288.015.376.049.071.098.136.148.2.05.067.102.134.152.208.08.059.192.09.32-.023.064-.045.12-.09.183-.137v-.001c.058-.044.119-.092.194-.146.064-.057.13-.122.196-.187.063-.063.128-.126.19-.182.282-.197.508-.425.72-.767.048-.043.082-.102.11-.154l.027-.046a3.95 3.95 0 0 0 .428-.742c.096-.142.14-.294.185-.45.036-.125.073-.254.14-.382.028.001.034-.057.037-.085.086-.77-.728.018-1.22.496-.097.093-.18.175-.243.23a.672.672 0 0 1-.307.168ZM50.132 5.186a10.48 10.48 0 0 1-.105.322c-.09.301-.175.576-.26.85l-.012.04c-.23.516-1.033.474-.834-.271.102-.266.184-.531.26-.778l.044-.14a5.24 5.24 0 0 1 .215-.372c.02-.044.045-.086.071-.129a1.13 1.13 0 0 0 .072-.129c.087-.259.23-.516.372-.744.068-.133.153-.191.266-.267l.024-.017c.064-.057.147-.027.163.089v.01c0 .256-.002.512-.058.767-.028.115-.062.23-.096.345-.035.115-.07.23-.096.345l-.026.08Zm-1.864 2.918c1.016-.589.865-.015.498.7-.317.515-.463.801-.726 1.344-.522 1.06-1.64 2.83-.742.45.143-.354.258-.671.373-.985.173-.474.343-.94.597-1.509Zm8.091 3.687c-.059.073-.127.157-.178.24-.138.2-.125.345.01.433l.055.04a.545.545 0 0 1 .18.166c.15.202.381.178.612.155l.004-.001c.209-.055.374-.254.512-.454.115-.218.203-.356.286-.485.102-.158.197-.304.322-.573.582-1.087-.367-.841-.837-.503-.249.165-.46.406-.67.646-.08.09-.158.179-.238.264l-.058.072Zm-3.82 2.174c-.196.459-.215.89-.206 1.324-.002.018.008.024.022.034.009.005.02.012.03.024.056-.28.11-.54.164-.795v-.001l.02-.095.001-.002c.051-.201.102-.401.035-.574-.032.029-.063.057-.066.085Zm1.956.786v-.011l-.001.017v-.006ZM11.861 28.497c.391 0 .712.114.963.344.251.229.377.527.377.894 0 .365-.126.664-.377.894-.251.23-.572.346-.963.346H11v-2.478h.861Zm-.265 2.02h.265c.228 0 .407-.07.538-.212.13-.142.195-.331.195-.57 0-.237-.065-.426-.195-.567-.13-.142-.31-.212-.538-.212h-.265v1.56Z" clip-rule="evenodd"/><path fill="#fff" d="M16.658 28.949v-.46h-1.483v2.486h1.483v-.458h-.886v-.576h.781v-.46h-.78v-.532h.885ZM19.599 28.938a.276.276 0 0 0-.183.06.215.215 0 0 0-.072.173c0 .075.022.135.066.182.044.046.102.08.173.106.071.024.15.047.237.07.087.022.174.05.26.081.086.032.165.072.236.118a.516.516 0 0 1 .172.201.658.658 0 0 1 .067.308c0 .21-.085.39-.253.539-.17.149-.391.224-.667.224-.275 0-.497-.067-.666-.2-.169-.136-.253-.326-.253-.573h.635c.016.197.116.296.3.296a.283.283 0 0 0 .202-.068.231.231 0 0 0 .074-.175.235.235 0 0 0-.067-.173.458.458 0 0 0-.172-.106 2.269 2.269 0 0 0-.237-.072 2.372 2.372 0 0 1-.26-.083 1.236 1.236 0 0 1-.236-.12.489.489 0 0 1-.172-.197.662.662 0 0 1-.067-.305c0-.231.085-.416.255-.554.17-.14.386-.209.65-.209s.478.06.64.182c.163.121.248.313.255.573h-.648a.338.338 0 0 0-.086-.206.247.247 0 0 0-.183-.072ZM22.623 28.497v2.478h.597v-2.478h-.597ZM25.563 30.639a1.224 1.224 0 0 1-.365-.91c0-.366.122-.67.365-.909.243-.24.54-.358.89-.358.274 0 .515.073.727.218.212.146.359.349.442.607h-.71a.468.468 0 0 0-.447-.27c-.205 0-.366.064-.483.193-.118.13-.177.303-.177.519 0 .216.059.39.177.52.117.13.274.193.472.193a.536.536 0 0 0 .347-.107.518.518 0 0 0 .18-.288h-.69v-.459h1.331v.459a1.202 1.202 0 0 1-.366.631 1.076 1.076 0 0 1-.353.23c-.141.058-.29.09-.45.09-.35 0-.647-.121-.89-.36ZM31.795 28.49h-.597v1.564l-.997-1.564h-.597v2.485h.597V29.41l.997 1.565h.597V28.49ZM37.39 28.938a.277.277 0 0 0-.183.06.214.214 0 0 0-.072.173c0 .075.023.135.067.182a.44.44 0 0 0 .172.106c.072.024.151.047.238.07.087.022.173.05.26.081.086.032.165.072.235.118a.523.523 0 0 1 .173.201.664.664 0 0 1 .066.308c0 .21-.084.39-.253.539-.168.149-.39.224-.666.224s-.498-.067-.666-.2c-.17-.136-.253-.326-.253-.573h.635c.016.197.116.296.3.296a.281.281 0 0 0 .202-.068.23.23 0 0 0 .073-.175.237.237 0 0 0-.066-.173.464.464 0 0 0-.172-.106 2.28 2.28 0 0 0-.238-.072 2.33 2.33 0 0 1-.26-.083 1.247 1.247 0 0 1-.236-.12.5.5 0 0 1-.172-.197.664.664 0 0 1-.066-.305.68.68 0 0 1 .254-.554c.17-.14.387-.209.651-.209s.478.06.64.182c.163.121.248.313.255.573h-.649a.334.334 0 0 0-.085-.206.245.245 0 0 0-.184-.072ZM40.248 28.497v.459h.666v2.019h.597v-2.02h.67v-.458h-1.933ZM44.123 29.976v-1.479h.597v1.479c0 .148.036.262.109.343.072.08.177.12.317.12s.246-.04.32-.12a.49.49 0 0 0 .113-.343v-1.479h.596v1.479c0 .219-.05.408-.152.567a.92.92 0 0 1-.384.348c-.154.073-.322.109-.504.109-.284 0-.523-.09-.718-.268-.196-.18-.294-.43-.294-.756Z"/><path fill="#fff" fill-rule="evenodd" d="M50.106 28.84c-.25-.23-.572-.343-.963-.343h-.861v2.478h.861c.39 0 .712-.115.963-.346.252-.23.377-.529.377-.894 0-.367-.125-.665-.377-.894Zm-.963 1.677h-.265v-1.561h.265c.228 0 .407.07.538.212.13.14.195.33.195.567 0 .239-.065.428-.195.57-.13.141-.31.212-.538.212Z" clip-rule="evenodd"/><path fill="#fff" d="M52.458 30.975v-2.478h.597v2.478h-.597Z"/><path fill="#fff" fill-rule="evenodd" d="M55.032 29.728c0 .368.122.672.365.913.243.24.54.359.892.359a1.231 1.231 0 0 0 1.252-1.272c0-.366-.12-.67-.362-.908a1.21 1.21 0 0 0-.889-.359c-.353 0-.65.12-.893.359a1.222 1.222 0 0 0-.365.908Zm1.902 0c0 .216-.059.39-.176.52a.606.606 0 0 1-.472.194.603.603 0 0 1-.47-.194c-.118-.13-.177-.304-.177-.52 0-.216.06-.389.176-.518a.603.603 0 0 1 .471-.194c.197 0 .354.064.472.194.117.13.176.302.176.518Z" clip-rule="evenodd"/></svg>'
								})

							.col(data-show="startbox", data-show-delay="600")

								+brand({
									style: "sm",
									customClass: "rounded-2 bg-dark-light text-white",
									logo: '<svg xmlns="http://www.w3.org/2000/svg" width="77" height="27" fill="none"><path fill="currentColor" d="M6.08 3.034c-.723 0-1.319.144-1.787.434-.468.289-.702.73-.702 1.322 0 .579.234 1.027.702 1.344.468.303 1.462.633 2.98.991 1.532.359 2.682.861 3.448 1.509.78.647 1.17 1.605 1.17 2.872 0 1.254-.49 2.274-1.468 3.059-.98.785-2.263 1.178-3.853 1.178-2.327 0-4.391-.779-6.193-2.335l1.575-1.84c1.504 1.268 3.065 1.902 4.682 1.902.81 0 1.448-.166 1.916-.496.482-.345.723-.793.723-1.344 0-.564-.227-.998-.68-1.302-.44-.316-1.207-.599-2.3-.847-1.092-.261-1.922-.496-2.49-.702a5.893 5.893 0 0 1-1.51-.848c-.88-.647-1.32-1.64-1.32-2.975 0-1.337.497-2.363 1.49-3.08C3.47 1.147 4.712.782 6.187.782c.951 0 1.895.152 2.831.455.937.303 1.745.73 2.426 1.281l-1.34 1.84c-.44-.386-1.036-.703-1.788-.951a7.104 7.104 0 0 0-2.235-.372ZM16.958 12.292l-1.49 3.286h-2.682l6.556-14.445h2.681l6.556 14.445h-2.682l-1.49-3.286h-7.45Zm6.427-2.253-2.703-5.951-2.703 5.951h5.406ZM33.635 12.271c.681.772 1.604 1.157 2.767 1.157 1.164 0 2.086-.385 2.767-1.157.681-.771 1.022-1.819 1.022-3.141V1.133h2.511v8.1c0 2.08-.589 3.686-1.767 4.815-1.177 1.116-2.688 1.674-4.533 1.674-1.845 0-3.356-.558-4.533-1.674-1.178-1.13-1.767-2.734-1.767-4.815v-8.1h2.512V9.13c0 1.322.34 2.37 1.021 3.141ZM53.42 13.366c.865 0 1.61-.137 2.235-.413.624-.29 1.277-.744 1.958-1.364l1.617 1.612c-1.575 1.694-3.49 2.542-5.746 2.542-2.242 0-4.108-.703-5.598-2.108-1.476-1.405-2.213-3.182-2.213-5.332 0-2.149.752-3.94 2.256-5.373C49.447 1.498 51.355.781 53.654.781c2.313 0 4.242.827 5.79 2.48l-1.597 1.695c-.71-.662-1.384-1.123-2.022-1.385-.624-.262-1.362-.393-2.214-.393-1.504 0-2.766.476-3.788 1.426-1.022.937-1.532 2.143-1.532 3.617 0 1.46.503 2.686 1.51 3.678 1.022.978 2.228 1.467 3.619 1.467ZM72.59 4.542c-1.008-1.02-2.25-1.529-3.725-1.529-1.476 0-2.724.51-3.746 1.53-1.007 1.019-1.511 2.259-1.511 3.719 0 1.447.504 2.68 1.511 3.7 1.022 1.019 2.27 1.528 3.746 1.528s2.717-.51 3.725-1.529c1.021-1.02 1.532-2.252 1.532-3.699 0-1.46-.51-2.7-1.532-3.72Zm1.851 9.052c-1.504 1.419-3.363 2.128-5.576 2.128-2.214 0-4.072-.71-5.576-2.128-1.504-1.433-2.257-3.21-2.257-5.332 0-2.135.753-3.913 2.257-5.332C64.793 1.498 66.65.781 68.865.781c2.213 0 4.072.717 5.576 2.15 1.504 1.418 2.256 3.196 2.256 5.331 0 2.122-.752 3.899-2.256 5.332ZM40.807 22.22v.629h-2.173v1.046h1.951v.593h-1.95v1.058h2.242v.628h-2.93V22.22h2.86ZM42.987 22.741a.917.917 0 0 0-.49.119.397.397 0 0 0-.192.362c0 .158.064.28.192.367.129.083.4.174.816.272.42.098.734.235.943.412.214.178.32.44.32.787 0 .343-.133.622-.401.836-.268.215-.62.323-1.054.323a2.518 2.518 0 0 1-1.695-.64l.43-.503c.412.347.84.52 1.282.52.221 0 .396-.044.524-.135a.433.433 0 0 0 .198-.368.403.403 0 0 0-.186-.356c-.12-.086-.33-.164-.63-.232a6.675 6.675 0 0 1-.68-.192 1.61 1.61 0 0 1-.414-.232c-.24-.177-.361-.448-.361-.814 0-.366.136-.647.408-.843.275-.2.615-.3 1.019-.3.26 0 .518.042.774.125.257.083.478.2.664.35l-.367.504a1.4 1.4 0 0 0-.489-.26 1.946 1.946 0 0 0-.611-.102ZM46.964 22.831v3.343h-.688V22.83h-1.234v-.61h3.157v.61h-1.235ZM51.547 24.404a6.46 6.46 0 0 0 .588-.64.776.776 0 0 0 .175-.469.515.515 0 0 0-.187-.401.674.674 0 0 0-.471-.17c-.334 0-.612.166-.833.498l-.553-.311c.178-.26.374-.457.588-.588.217-.132.495-.198.833-.198.341 0 .64.105.897.316.256.208.384.492.384.854 0 .204-.055.398-.163.583-.109.184-.309.422-.6.712l-.955.945h1.846v.639h-2.784v-.566l1.235-1.204ZM54.65 23.103c-.159.271-.239.628-.239 1.069 0 .44.08.797.24 1.069.162.27.415.407.756.407.342 0 .59-.134.746-.402.159-.271.239-.63.239-1.074 0-.445-.08-.801-.24-1.069-.154-.272-.403-.407-.745-.407-.341 0-.594.135-.757.407Zm-.489 2.562c-.276-.374-.413-.871-.413-1.493 0-.622.137-1.118.413-1.488.276-.373.691-.56 1.246-.56.556 0 .971.187 1.247.56.275.37.413.866.413 1.488s-.138 1.12-.413 1.493c-.276.369-.691.554-1.247.554-.555 0-.97-.185-1.246-.554ZM57.583 22.22h1.479v3.954h-.652v-3.36h-.827v-.593ZM61.18 25.62c.362 0 .628-.12.799-.357.17-.237.258-.558.262-.961a1.507 1.507 0 0 1-.42.3c-.182.09-.384.135-.605.135-.365 0-.672-.117-.92-.35-.245-.238-.367-.55-.367-.94 0-.391.132-.706.396-.943.268-.238.603-.357 1.007-.357.653 0 1.103.283 1.352.849.14.324.21.69.21 1.097 0 .407-.045.746-.135 1.017-.09.272-.211.487-.367.645-.303.31-.675.464-1.118.464-.439 0-.837-.134-1.194-.402l.344-.492c.09.076.208.143.355.204.151.06.285.09.402.09Zm.123-1.47a.911.911 0 0 0 .588-.188.604.604 0 0 0 .24-.491.69.69 0 0 0-.228-.52.787.787 0 0 0-.57-.221.807.807 0 0 0-.56.198.628.628 0 0 0-.221.497.72.72 0 0 0 .198.515c.136.14.32.21.553.21Z"/></svg>'
								})

			include template-parts/sections/_technologies.pug

			.pt-120.pb-130

				.container

					.row

						.col-lg-12

							span.badge.bg-light.text-dark.mb-20(data-show="startbox") Our team

					.row.gy-40

						.col-lg-4

							h2.m-0(data-show="startbox", data-show-delay="100") Meet our talanted team

						.col-lg-6.offset-lg-2

							p.m-0(data-show="startbox", data-show-delay="200") His hath is appear be one don't creepeth. Them and one moving the won't may. Moving saw wherein divide bearing called. Green moveth Hath. That it years fruit behold Meat also us third.

					// Slider
					.swiper.mt-90.shape-parent(data-swiper-slides="1", data-swiper-breakpoints="828:2, 1024:4", data-swiper-gap="30", data-swiper-grabcursor="true", data-show="startbox", data-show-delay="200")

						// Shape
						.shape.justify-content-end.align-items-center.mt-40.me-n45.text-dark(data-jarallax-element="40")

							include partials/_shape.pug

						.swiper-container

							.swiper-wrapper

								.swiper-slide

									+member({
										avatar: "assets/img/team/member-8.jpg",
										name: "Austen Shields",
										function: "Senior QA Engineer"
									})

								.swiper-slide

									+member

								.swiper-slide

									+member({
										avatar: "assets/img/team/member-2.jpg",
										name: "Stuart Morton",
										function: "Creative Director"
									})

								.swiper-slide

									+member({
										avatar: "assets/img/team/member-3.jpg",
										name: "Kerrie Barrett",
										function: "Project Manager"
									})

								.swiper-slide

									+member({
										avatar: "assets/img/team/member-4.jpg",
										name: "Mark Hudson",
										function: "Senior Front-End Developer"
									})

						.d-flex.mt-70.justify-content-center

							.swiper-button-prev.swiper-button-position-2.swiper-button-gray.shadow

								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m3.96 6.15 5.08-4.515L7.91.365.445 7l7.465 6.635 1.13-1.27L3.96 7.85h15.765v-1.7H3.96Z" clip-rule="evenodd"/></svg>

							.swiper-button-next.swiper-button-position-2.swiper-button-gray.shadow

								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" fill="none"><path fill="currentColor" fill-rule="evenodd" d="m16.21 6.15-5.08-4.515 1.13-1.27L19.725 7l-7.465 6.635-1.13-1.27 5.08-4.515H.445v-1.7H16.21Z" clip-rule="evenodd"/></svg>

			include template-parts/sections/_contact.pug

		//- Footer
		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug