//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Pricing' // page title
- MenuTitle = 'Pricing' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'show' // show / hide
- Topbar = 'show' // show / hide
- HeaderLayout = 'default' // aside / default

//- Navbar Options
- NavbarAction = 'button' // button / button-2 / button-3 / socials
- NavbarDark = 'false' // true / false
- NavbarBorder = 'false' // true / false
- NavbarFixed = 'false' // true / false
- NavbarSolid = 'true' // true / false
- NavbarOpaque = 'false' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-dark' // default-dark / default-white / minimal-dark

//- Other Options
- CallToActionShape = 'show' // show / hide

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			// Page title
			.position-relative.py-210

				.background

					.background-image.jarallax(data-jarallax, data-speed="0.8")

						img(loading="lazy", src="assets/img/pricing-hero-1920x900.jpg", class="jarallax-img", alt="")

					.background-color(style="--background-color: #000; opacity: .25;")

				.container

					h1.text-white.mb-0.text-center Pricing Plans

			.pt-120.pb-130.bg-gray-light.shape-parent

				include template-parts/sections/_pricing.pug

			.pt-120.pb-130.footerPrev

				.container

					include template-parts/sections/_faq-list.pug

			include template-parts/sections/_call-to-action-2.pug

		//- Footer
		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug