//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Services 02' // page title
- MenuTitle = 'Services 02' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'show' // show / hide
- Topbar = 'show' // show / hide
- HeaderLayout = 'default' // aside / default

//- Navbar Options
- NavbarAction = 'button' // button / button-2 / button-3 / socials
- NavbarDark = 'false' // true / false
- NavbarBorder = 'true' // true / false
- NavbarFixed = 'false' // true / false
- NavbarSolid = 'true' // true / false
- NavbarOpaque = 'false' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-dark' // default-dark / default-white / minimal-dark

//- Other Options
- CallToActionShape = 'show' // show / hide

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			// Page title
			.position-relative.py-210

				.background

					.background-image.jarallax(data-jarallax, data-speed="0.8")

						img(loading="lazy", src="assets/img/services-2-hero-1920x900.jpg", class="jarallax-img", alt="")

					.background-color(style="--background-color: #000; opacity: .25;")

				.container

					h1.text-white.mb-0.text-center Our Services

			.pt-120.pb-130

				.container

					.row.mb-90

						.col-lg-6.offset-lg-3.text-center

							h3.m-0(data-show="startbox") We #[span.highlight-lg help you build and grow] your business.

					.row.gy-30

						// Item
						.col-12.col-lg-6(data-show="startbox")

							+service_card

						// Item
						.col-12.col-lg-6(data-show="startbox", data-show-delay="100")

							+service_card({
								title: "IOS Development",
								text: "Lights creeping good herb their won't dry days she'd grass.",
								image: "assets/img/service-card-2-600x600.jpg"
							})

						// Item
						.col-12.col-lg-6(data-show="startbox")

							+service_card({
								title: "Marketing & SEO",
								text: "Them seasons the the yielding one, thing brought behold.",
								image: "assets/img/service-card-3-600x600.jpg"
							})

						// Item
						.col-12.col-lg-6(data-show="startbox", data-show-delay="100")

							+service_card({
								title: "Accounting",
								text: "Yielding bring seed was sea seasons shall that bearing.",
								image: "assets/img/service-card-4-600x600.jpg"
							})

						// Item
						.col-12.col-lg-6(data-show="startbox")

							+service_card({
								title: "Product Development",
								text: "Great herb sixth behold fish moving fruitful which yielding land face.",
								image: "assets/img/service-card-5-600x600.jpg"
							})

						// Item
						.col-12.col-lg-6(data-show="startbox", data-show-delay="100")

							+service_card({
								title: "Human Resources",
								text: "Deep abundantly sixth tree Fruit won't Fish thing kind itself.",
								image: "assets/img/service-card-6-600x600.jpg"
							})

			include template-parts/sections/_reviews.pug

			include template-parts/sections/_numbers-2.pug

			.pt-120.pb-130.footerPrev

				include template-parts/sections/_industries.pug

			include template-parts/sections/_call-to-action-2.pug

		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug