//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Bagman' // page title
- MenuTitle = 'Bagman' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'hide' // show / hide
- Topbar = 'hide' // show / hide
- HeaderLayout = 'default' // aside / default

//- Navbar Options
- NavbarAction = 'button' // button / button-2 / button-3 / socials
- NavbarDark = 'false' // true / false
- NavbarBorder = 'true' // true / false
- NavbarFixed = 'false' // true / false
- NavbarSolid = 'true' // true / false
- NavbarOpaque = 'false' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-dark' // default-dark / default-white / minimal-dark

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			.container

				.row.pt-120.pb-60

					.col-12.col-lg-8.offset-lg-2

						h1.m-0.pe-30.highlight Alice real estate

				.row

					.col-12.col-lg-8.offset-lg-2

						p.h4 What?

						p Completion of a webpage done in wordpress. The customer had paid a webdesigner to design and set up a wordpress webpage in relations to real estate sales. The webdesigner did not have enough knowledge to finilize the webpage, queue my entrance. 

						p.h4 How?

						p By exploring similiar webpages we could analyze the user flows and by using html, css and javascript I could do the necessary changes to finilize the webpage. 

						p.h4 Results?

						p.m-0 Finilize the webpage and let it go live.
				
				.row.my-90.gy-30.gallery-wrapper

					.col-12.col-sm-4

						+gallery_item({
							image: "assets/img/portfolio/Alicerealestate.png",
							imageHeight: "94%"
						})

					.col-12.col-sm-4

						+gallery_item({
							image: "assets/img/portfolio/Alicerealestate2.jpg",
							imageHeight: "94%"
						})

					.col-12.col-sm-4

						+gallery_item({
							image: "assets/img/portfolio/Alicerealestate3.jpg",
							imageHeight: "94%"
						})
		
		//- Footer
		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug