//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Interactive playboard' // page title
- MenuTitle = 'Interactive playboard' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'hide' // show / hide
- Topbar = 'hide' // show / hide
- HeaderLayout = 'default' // aside / default

//- Navbar Options
- NavbarAction = 'button' // button / button-2 / button-3 / socials
- NavbarDark = 'false' // true / false
- NavbarBorder = 'true' // true / false
- NavbarFixed = 'false' // true / false
- NavbarSolid = 'true' // true / false
- NavbarOpaque = 'false' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-dark' // default-dark / default-white / minimal-dark

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			.container

				.row.pt-120.pb-60

					.col-12.col-lg-8.offset-lg-2

						h1.m-0.pe-30.highlight EV Charge app mobile

				.row.pb-100

					.col-12.col-lg-8.offset-lg-2

						p.h4 What?

						p A UI design for a EV Charge application for mobile use.

						p.h4 How?

						p Exploring other applications and working with wireframes and hi-fi prototype which soon will be built with interactions.

						p.h4 Results?

						p I am currently exploring and evolving my UI skills and will update this page as I evolve this design. 

					.col-12.col-sm-6

						+gallery_item({
							image: "assets/img/landing/charge_wire.png"
						})

					.col-12.col-sm-6

						+gallery_item({
							image: "assets/img/landing/chargeAll.png"
						})

		//- Footer
		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug