//- Page Options
- HtmlClass = 'no-js'
- PageTitle = 'Bagman' // page title
- MenuTitle = 'Bagman' // menu title
- Preloader = 'hide' // show / hide

//- Header Options
- Header = 'hide' // show / hide
- Topbar = 'hide' // show / hide
- HeaderLayout = 'default' // aside / default

//- Navbar Options
- NavbarAction = 'button' // button / button-2 / button-3 / socials
- NavbarDark = 'false' // true / false
- NavbarBorder = 'true' // true / false
- NavbarFixed = 'false' // true / false
- NavbarSolid = 'true' // true / false
- NavbarOpaque = 'false' // true / false

//- Footer Options
- Footer = 'show' // show / hide
- FooterLayout = 'default-dark' // default-dark / default-white / minimal-dark

//- Body Class
- BodyClass = ''

if Topbar == 'show'

	- BodyClass += ' has-topbar'

include mixins/_global-mixins.pug

doctype html
html(lang='en', class=HtmlClass)
	head
		meta(charset='utf-8')

		//- Head
		include html/_head.pug

	body(class=BodyClass)

		//- Preloader
		include partials/_preloader.pug

		//- Header
		include template-parts/header/_header.pug

		//- Topbar
		if Topbar == 'show'
			include template-parts/header/layouts/_topbar.pug

		//- Site Wrapper
		+site_main

			.container

				.row.pt-120.pb-60

					.col-12.col-lg-8.offset-lg-2

						h1.m-0.pe-30.highlight Interactive playboard

				.row

					.col-12.col-lg-8.offset-lg-2

						p.h4 What?

						p During a course in tangible interfaces at Malmö University we were tasked to design a tangible interface, the target group: children. Both me and my two peers set out to discover and define how and why children at the age of 4-6 were introduced to programming. A new skill to learn and should now be on the corriculums of the schools in sweden.

						p.h4 How?

						p We started by exploring the swedish schoolsystem and the different programming items which was used today to teach programming. This led us to discoveries which in turn gave us the idead to try to get an interview with a teacher at a school involved in teaching programming as well as shadowing the teachings of this. By booking an interview and shadowing we could see first hand how children at the age of 3-6 were introduced to programming, in a playful matter, programming different toys to move or behave in different manners. This was their first entry to programming in a school environment. From our findings we created an interactive playboard which was programable through different points on a screen. The programming resulted in different animations amongst the different sea creatures on the screen. The interactive board was user tested by 8 children in the ages between the ages of 3-5 and the user tests were analysed.


						p.h4 Results?

						p.m-0 The narrative of the sea creatures could be altered depending on which of the points were activated, thus programming the sea creatures animations and movements. This was understood by most children after some time playing with the interactive playboard. What was not accounted for by us designers was the short attention span which children have. Something which need to be thought of and designed for in a future iteration.
				.row.py-90.gy-30.gallery-wrapper

					.col-12.col-sm-6

						+gallery_item({
							image: "assets/img/portfolio/playboard4.jpg"
						})

					.col-12.col-sm-6

						+gallery_item({
							image: "assets/img/portfolio/playboard3.jpg"
						})

				.row.pb-75.gy-30.gallery-wrapper

					.col-12.col-sm-6

						+gallery_item({
							image: "assets/img/portfolio/playboard2.jpg"
						})

					.col-12.col-sm-6

						+gallery_item({
							image: "assets/img/portfolio/playboard1.jpg"
						})
	
		//- Footer
		include template-parts/footer/_footer.pug

		//- Scripts
		include html/_scripts.pug